Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

A couple fixes
  discord/commands/core.py
  discord/threads.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Update options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add ThreadOption docs
  discord/commands/options.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @RPSMain

Reintroduce _invoke_flag
  discord/channel.py
  discord/commands/core.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X

Make enum options set input_type ...
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Completely remove Guild.region
  discord/audit_logs.py
  discord/client.py
  discord/guild.py
  discord/http.py
  discord/template.py
  discord/types/audit_log.py
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Make enum options set input_type ...
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update gateway.py
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

Remove `Guild.region` attribute (#1429)
  discord/audit_logs.py
  discord/client.py
  discord/guild.py
  discord/http.py
  discord/template.py
  discord/types/audit_log.py
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Update gateway.py
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Fix recursive loading
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Formatting fixes
  discord/automod.py
  discord/guild.py
  discord/raw_models.py
  discord/state.py
  discord/types/automod.py
  discord/types/raw_models.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum, @RPSMain

Fix incorrect HTTP method
  discord/http.py
Owners: @Lulalaby, @Middledot

Update discord/guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Remove unnecessary variable
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Alphabetize
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Alphabetizing
  discord/raw_models.py
Owners: @nerdguyahmad

Return Object in exempt_* properties
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Alphabetizing
  discord/types/audit_log.py
Owners: @BobDotCom, @CodeWithSwastik

Update guild.py
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik

Alphabetizing
  discord/types/raw_models.py
Owners: @BobDotCom, @CodeWithSwastik

Support for reasons
  discord/http.py
Owners: @Lulalaby, @Middledot

Support for reasons
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Support for reasons and fix docstrings
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update docstrings
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Update Activity.buttons documentation (#1394)
  discord/activity.py
  discord/types/activity.py
Owners: @BobDotCom, @CodeWithSwastik

Added back check to check if file is type file
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Reduces redundancy for 1 or more files
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Add a native timeout for modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

enclose in square brackets
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Reduces redundancy for 1 or more files (#1400)
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Remove duplicate attribute setting
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: Pass the `exception` into `client.on_error`
  discord/client.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Implement ForumChannelConverter
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik
