Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Merge from master
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

revert: the unfix
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

refactor: remove parent checks reference
  discord/commands/mixins.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: p*
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

refactor: remove redundant defintions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: error hierarchy and docs
  discord/errors.py
  discord/ext/commands/errors.py
  docs/api.rst
  docs/ext/commands/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Smaller fixes
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Remove unused imports and variables
  discord/commands/context.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/iterators.py
  discord/webhook/sync.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Uncommit unrelated things
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Remove unused f-string
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Make more concise imports
  discord/commands/__init__.py
  discord/commands/mixins.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Rename `original_message` to `original_response`
  discord/commands/context.py
  discord/ext/pages/pagination.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik, @plun1331

chore: add pre-commit ci
  .github/workflows/format.yml
  .isort.cfg
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

Add Aliases
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix Errors
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Remove Unnecessary `kwargs`
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update types for appinfo.py
  discord/types/appinfo.py
Owners: @BobDotCom, @CodeWithSwastik

Make intents a required kwarg
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Added Guild Feature INVITES_DISABLED
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

fix(docs): correct AutoMod event arguments
  docs/api.rst
Owners: @RPSMain, @Lulalaby

chore: replace invalid uses of ext in base library
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

feat(bot.py): fix type issues (#1534)
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Add 'suppress' to messageable.send()
  discord/abc.py
  discord/http.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @Lulalaby

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

API-consistent naming
  discord/abc.py
  discord/http.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @Lulalaby

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Revert to initial correction
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

fix(docs): correct AutoMod event arguments
  docs/api.rst
Owners: @RPSMain, @Lulalaby

feat: Disable Guild Invites
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Docs update #1613
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Improvement #1613
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update #1613
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update #1613
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update discord/guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Added Guild Feature INVITES_DISABLED (#1613)
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum
