Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pycord-Development/maintainers, @Pycord-Development/maintain-tests, @Pycord-Development/maintain-ext-bridge, @Lulalaby, @Pycord-Development/maintain-translations

.github/CODEOWNERS:

* @Pycord-Development/maintainers

/tests/ @Pycord-Development/maintain-tests
/discord/ext/testing/ @Pycord-Development/maintain-tests
/discord/ext/bridge/ @Pycord-Development/maintain-ext-bridge
/.github/ @Pycord-Development/maintainers @Lulalaby
/docs/locales/ @Pycord-Development/maintain-translations
/docs/build/locales/ @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-download.yml @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-upload.yml @Pycord-Development/maintain-translations
/crowdin.yml @Pycord-Development/maintain-translations
/requirements/_locale.txt @Pycord-Development/maintain-translations

docs: fix hyphen-related grammar (#2527)
  docs/api/enums.rst
Owners: @Pycord-Development/maintainers

feat: implement `Guild.fetch_role`
  discord/guild.py
  discord/http.py
Owners: @Pycord-Development/maintainers

docs: add changelog entry
  CHANGELOG.md
Owners: @Pycord-Development/maintainers

feat: implement `Guild.fetch_role` (#2528)
  CHANGELOG.md
  discord/guild.py
  discord/http.py
Owners: @Pycord-Development/maintainers

docs: fix `application_commands.rst`
  docs/api/application_commands.rst
Owners: @Pycord-Development/maintainers

fix(sphinx): `autosectionlabel_prefix_document` to false
  discord/client.py
  docs/api/enums.rst
  docs/conf.py
Owners: @Pycord-Development/maintainers

fix(docs): fix encoding? tf
  docs/conf.py
Owners: @Pycord-Development/maintainers

fix(sphinx): suppress duplicate references
  discord/guild.py
  docs/conf.py
Owners: @Pycord-Development/maintainers

fix(docs): duplicate label changelog.md
  CHANGELOG.md
Owners: @Pycord-Development/maintainers

fix(actions): try to fix docs action
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
  requirements/docs.txt
Owners: @Pycord-Development/maintain-translations, @Pycord-Development/maintainers

docs: fix old changelog duplicate labels
  docs/old_changelog.rst
Owners: @Pycord-Development/maintainers

fix(docs): gateway references
  discord/raw_models.py
  docs/conf.py
Owners: @Pycord-Development/maintainers

fix: gateway link
  docs/conf.py
Owners: @Pycord-Development/maintainers

revert: old changelog changes
  docs/old_changelog.rst
Owners: @Pycord-Development/maintainers

docs: fix old changelog duplicate labels
  docs/old_changelog.rst
Owners: @Pycord-Development/maintainers

chore(deps): add `typing-extensions`
  requirements/docs.txt
Owners: @Pycord-Development/maintainers

chore: do something precommit (#2530)
  .github/workflows/.cleanup-todo
  docs/conf.py
  requirements/docs.txt
Owners: @Pycord-Development/maintainers, @Lulalaby

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/index.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/pt_BR/LC_MESSAGES/ext/commands/api.po
  docs/locales/pt_BR/LC_MESSAGES/installing.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/changelog.po
  docs/locales/ru/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/zh_CN/LC_MESSAGES/migrating_to_v2.po
  docs/locales/zh_CN/LC_MESSAGES/quickstart.po
  docs/locales/zh_CN/LC_MESSAGES/version_guarantees.po
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/index.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/pt_BR/LC_MESSAGES/ext/commands/api.po
  docs/locales/pt_BR/LC_MESSAGES/installing.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/changelog.po
  docs/locales/ru/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/zh_CN/LC_MESSAGES/migrating_to_v2.po
  docs/locales/zh_CN/LC_MESSAGES/quickstart.po
  docs/locales/zh_CN/LC_MESSAGES/version_guarantees.po
Owners: @Pycord-Development/maintain-translations

fic(actions): let actions run on dispatch
  .github/workflows/check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/test.yml
  .github/workflows/todo.yml
  .github/workflows/version-updates.yml
Owners: @Pycord-Development/maintainers, @Lulalaby

fic(actions): manually dispatch workflows
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

fix(actions): manually run pr checks
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

chore(actions): auto approve
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

[ci skip] chore(actions): delete branch automatically
  .github/workflows/docs-localization-download.yml
  .github/workflows/version-updates.yml
Owners: @Pycord-Development/maintain-translations, @Pycord-Development/maintainers, @Lulalaby

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/de/LC_MESSAGES/migrating_to_v2.po
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/exceptions.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

[ci skip] fix(actions): meow
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/de/LC_MESSAGES/migrating_to_v2.po
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/exceptions.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

Update docs-localization-download.yml
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

[ci skip] fix(actions): shush action
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/index.po
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/de/LC_MESSAGES/migrating_to_v2.po
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/exceptions.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

[ci skip] fix(actions): i hate it here
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/index.po
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/de/LC_MESSAGES/migrating_to_v2.po
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/audit_logs.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/events.po
  docs/locales/ru/LC_MESSAGES/api/exceptions.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/sinks.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/commands.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

[ci skip] fix(actions): refresh pull
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/index.po
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/de/LC_MESSAGES/migrating_to_v2.po
  docs/locales/de/LC_MESSAGES/version_guarantees.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/async_iter.po
  docs/locales/ru/LC_MESSAGES/api/audit_logs.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/cogs.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/events.po
  docs/locales/ru/LC_MESSAGES/api/exceptions.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/sinks.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/index.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/commands.po
  docs/locales/ru/LC_MESSAGES/ext/commands/index.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/ext/tasks/index.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

fix(actions): fix
  .github/workflows/docs-localization-download.yml
  .github/workflows/version-updates.yml
Owners: @Pycord-Development/maintain-translations, @Pycord-Development/maintainers, @Lulalaby

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/migrating_to_v1.po
  docs/locales/es/LC_MESSAGES/api/abcs.po
  docs/locales/es/LC_MESSAGES/api/clients.po
  docs/locales/es/LC_MESSAGES/api/models.po
Owners: @Pycord-Development/maintain-translations

[ci skip] fix(actions): fix ref
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/api/abcs.po
  docs/locales/de/LC_MESSAGES/api/models.po
  docs/locales/de/LC_MESSAGES/installing.po
  docs/locales/de/LC_MESSAGES/intents.po
  docs/locales/es/LC_MESSAGES/api/application_commands.po
  docs/locales/es/LC_MESSAGES/api/clients.po
  docs/locales/es/LC_MESSAGES/api/cogs.po
  docs/locales/es/LC_MESSAGES/api/data_classes.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/es/LC_MESSAGES/api/utils.po
  docs/locales/es/LC_MESSAGES/ext/bridge/api.po
  docs/locales/es/LC_MESSAGES/ext/commands/api.po
  docs/locales/es/LC_MESSAGES/ext/commands/commands.po
  docs/locales/es/LC_MESSAGES/index.po
  docs/locales/es/LC_MESSAGES/installing.po
  docs/locales/es/LC_MESSAGES/version_guarantees.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/cogs.po
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/es/LC_MESSAGES/ext/bridge/api.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/es/LC_MESSAGES/index.po
Owners: @Pycord-Development/maintain-translations
