Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

apply code suggestions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Document Modal and Embed Parameter Limits (#1247)
  discord/embeds.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Remove voice client when bot disconnects (#1273)
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Support passing option types as Union
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Support enumerated options
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove unnecessary print
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

refactor validation
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Missing code change
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add validation of option names and descriptions (#1271)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

[WIP] Add library-level enforcement of component field limits (#1065)
  discord/components.py
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

[bridge] Fix conversion exception (#1250)
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Support providing option channel types as list (#1000)
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "Support providing option channel types as list (#1000)"
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix an issue with the self parameter being ignored
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Ignore ApplicationContext typehints
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

hotfix for logic missed in #1065 when optional parameters are omitted
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Add Guild.jump_url
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Allow toggling perm registration via kwarg
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add Guild.jump_url
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

feat: remove `int` from `exclusions`
  discord/ui/view.py
Owners: @Dorukyum

fix: code fixes
  discord/ui/view.py
Owners: @Dorukyum

Update discord/ui/view.py
  discord/ui/view.py
Owners: @Dorukyum

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Ability to diff between new & joined threads
  discord/state.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Allowing Context.me to return a ClientUser when the guilds intent is absent.
  discord/ext/commands/context.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/state.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

on_thread_create event (#1285)
  discord/state.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Change embed.fields to always return a list
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Allowing Context.me to return a ClientUser when the guilds intent is absent. (#1286)
  discord/ext/commands/context.py
Owners: @BobDotCom, @CodeWithSwastik

Update embeds.py
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

change Embed.fields setter to use simpler assignment
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
