Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Add ForumChannelConverter to documentation
  docs/ext/commands/api.rst
Owners: @RPSMain, @Lulalaby

Add ForumChannelConverter to converter mapping
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

Implement ForumChannelConverter (#1440)
  discord/ext/commands/converter.py
  docs/ext/commands/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Resolve issues with `discord.Thread` and `discord.ThreadOption` when used in `discord.Option` (#1427)
  discord/channel.py
  discord/commands/core.py
  discord/commands/options.py
  discord/guild.py
  discord/threads.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad, @RPSMain

Fix timeout errors
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Allow PartialMessages to be in voice channels (which now support text)
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Allow PartialMessages to be in voice channels (which now support text)
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Adding on_check_failure
  discord/ui/view.py
Owners: @Dorukyum

Removed defering per default
  discord/ui/view.py
Owners: @Dorukyum

Update view.py
  discord/ui/view.py
Owners: @Dorukyum

Improve Code
  discord/audit_logs.py
  discord/ext/commands/flags.py
Owners: @BobDotCom, @CodeWithSwastik

Improve Code
  discord/audit_logs.py
  discord/ext/commands/flags.py
Owners: @BobDotCom, @CodeWithSwastik

Add a `jump_url` property to users
  discord/user.py
Owners: @BobDotCom, @CodeWithSwastik

Add a `jump_url` property to users
  discord/user.py
Owners: @BobDotCom, @CodeWithSwastik

Rename `name` to `thread_name`
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/webhook/async_.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/webhook/sync.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Webhooks creating forum posts (#1405)
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

remove redundant characters
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

Regular expression changes
  discord/ext/commands/converter.py
  discord/partial_emoji.py
  discord/utils.py
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

Apply suggestions from code review
  discord/ext/commands/converter.py
  discord/partial_emoji.py
  discord/utils.py
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

Regular expression changes (#1438)
  discord/ext/commands/converter.py
  discord/partial_emoji.py
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Update audit_logs.py
  discord/audit_logs.py
Owners: @BobDotCom, @CodeWithSwastik

Update enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Small code fixes (#1445)
  discord/audit_logs.py
  discord/enums.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

Update core.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Add message property to views
  discord/abc.py
  discord/ui/view.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Add documentation
  discord/ui/view.py
Owners: @Dorukyum

Fix documentation
  discord/ui/view.py
Owners: @Dorukyum

First additions
  discord/message.py
  discord/threads.py
  discord/types/message.py
Owners: @BobDotCom, @CodeWithSwastik

Remove print statement
  discord/ui/view.py
Owners: @Dorukyum

Follow up to #1438
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

chore: improve `ApplicationContext.respond` doc.
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remade if else spam part to dict
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

fix: merge doru's review
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

chore: further improve documentation
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Rework ApplicationContext Documentation
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remade if else spam part to dict
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

fix: moved return description.
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix: Missing Imports [#1]
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
