Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Fix imports
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix kwarg name
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update errors.py
  discord/ext/commands/errors.py
Owners: @BobDotCom, @CodeWithSwastik

Improve CI & Add some tests
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/python-app.yml
  .gitignore
  .pylintrc
  mypy.ini
  pytest.ini
  requirements-dev.txt
  tests/helpers.py
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Fix syntax for workflows
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_options.py
  examples/audio_recording.py
  examples/timeout.py
Owners: @BobDotCom, @CodeWithSwastik

Disable failing workflows for partial merge
  .github/workflows/pylint.yml
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Make temporary test for realistic diff
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

re-add tests
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/view.py
  discord/ui/view.py
Owners: @Dorukyum

Fix codeql workflow
  .github/workflows/codeql-analysis.yml
Owners: @BobDotCom, @CodeWithSwastik

Formatting
  examples/app_commands/slash_options.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Implement test_get_or_fetch
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Test coverage
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Re-add failing workflows
  .github/workflows/pylint.yml
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Test coverage
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Add basic_autocomplete coverage
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Add generate_snowflake coverage
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Improve basic_autocomplete coverage
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Add coverage for format_dt
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Re-disable failing workflows
  .github/workflows/pylint.yml
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Add coverage for resolve_annotation
  tests/helpers.py
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Improve coverage for resolve_annotation
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Update validation regex for command names & options
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Improve coverage for evaluate_annotation
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Fix py3.8 support for tests
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Fix py3.8 support for tests
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Fix py3.8 support for tests
  tests/test_utils.py
Owners: @BobDotCom, @CodeWithSwastik

Add `disable_all_items` in `View` (#1199)
  discord/ui/view.py
Owners: @Dorukyum

Move permission attributes to parent class
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix guild_only decorator
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

make Modal.children into a property and add corresponding docstring
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

add library-level embed limit enforcement
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

add library-level embed limit enforcement
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "make Modal.children into a property and add corresponding docstring"
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

add missing logic for None check in init
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

make Modal.children into a property and add corresponding docstring
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

make Modal.children into a property and add corresponding docstring Also allow instantiating a modal with a list of InputText items instead of needing to use modal.add_item
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

apply linting, fix indentation
  discord/abc.py
  discord/channel.py
  discord/guild.py
  discord/http.py
  discord/threads.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad

add initial support for goto_select
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik
