Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Allow type checkers to treat cached_property as a normal property. (#1188)
  discord/commands/context.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/ext/commands/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update discord/message.py
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Rename migrating.rst to migrating_to_v1.rst
  docs/migrating_to_v1.rst
Owners: @RPSMain, @Lulalaby

Update whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Update index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Update conf.py
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Update index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Update index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

*Actually* fix mentionable option types
  discord/commands/core.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

feat: asynchronousifying setup function in cogs
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

remove plain python function nowotice
  docs/ext/commands/extensions.rst
Owners: @RPSMain, @Lulalaby

Update installing.rst
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/ext/commands/api.rst
Owners: @RPSMain, @Lulalaby

Update commands.rst
  docs/ext/commands/commands.rst
Owners: @RPSMain, @Lulalaby

chore: add cog support for Bridge Commands
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

chore: use a getattr test instead of a TypeVar test
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Add `disable_all_items` in `View`
  discord/ui/view.py
Owners: @Dorukyum

Update view.py
  discord/ui/view.py
Owners: @Dorukyum

Add ext.bridge example
  examples/bridge_bot.py
Owners: @BobDotCom, @CodeWithSwastik

Remove underscores.
  examples/bridge_bot.py
Owners: @BobDotCom, @CodeWithSwastik

Add requested changes.
  examples/bridge_bot.py
Owners: @BobDotCom, @CodeWithSwastik

Add ability to set guild_ids per cog
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Document guild_ids per cog
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Create consistency
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Add url property to scheduled events
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Use :decorator: option
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add trailing comma
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Fix docstrings
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

guide link in README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Apply code suggestions
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Fix bridge option choice conversion
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Search for choice names as well
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik
