Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update installing.rst
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Fix type issues in options.py (#1473)
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Apply code suggestions
  discord/ext/bridge/core.py
  discord/utils.py
  docs/api.rst
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @RPSMain

Update docs/whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

fixMoreGrammar
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

2.0 Migration Guide + Changelog re-write (#1488)
  docs/application_commands.rst
  docs/index.rst
  docs/installing.rst
  docs/migrating_to_v2.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Format Documentation
  discord/appinfo.py
  discord/bot.py
  discord/channel.py
  discord/client.py
  discord/cog.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/options.py
  discord/gateway.py
  discord/guild.py
  discord/integrations.py
  discord/interactions.py
  discord/member.py
  discord/object.py
  discord/scheduled_events.py
  discord/team.py
  discord/utils.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @plun1331, @RPSMain

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Added AutoMod Docs
  discord/__init__.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Document AutoModAction
  discord/raw_models.py
  docs/api.rst
Owners: @nerdguyahmad, @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update raw_models.py
  discord/raw_models.py
Owners: @nerdguyahmad

Add interaction support for View.message and add disable_on_timeout to Views (#1492)
  discord/interactions.py
  discord/ui/view.py
Owners: @plun1331, @Dorukyum

Emoji size changes
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Emoji size changes (#1517)
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

docs(guild): fix grammar in Guild channel properties
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

docs(guild): fix grammar in Guild channel properties
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Set store=False as default in load_extension(s)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update discord/stage_instance.py
  discord/stage_instance.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/scheduled_events.py
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/commands/permissions.py
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update content retrieval from AutoModActionExecution
  discord/raw_models.py
Owners: @nerdguyahmad

Update discord/raw_models.py
  discord/raw_models.py
Owners: @nerdguyahmad

Update discord/raw_models.py
  discord/raw_models.py
Owners: @nerdguyahmad

Update content retrieval from AutoModActionExecution (#1521)
  discord/raw_models.py
Owners: @nerdguyahmad

Set store=False as default in load_extension(s)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Add overloads to load_extension(s)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Fix incorrect operations
  discord/mentions.py
Owners: @BobDotCom, @CodeWithSwastik

feat: Slash Command Mentions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

feat: Slash Command Mentions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Apply code suggestions
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

fix issue discord.commands.Option while str and min/max_length were set
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix `Option` raising AttributeError for `str` and `min_length or max_length` (#1527)
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Docs rewrite (#1504)
  discord/__init__.py
  discord/appinfo.py
  discord/bot.py
  discord/client.py
  discord/cog.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/options.py
  discord/gateway.py
  discord/guild.py
  discord/member.py
  discord/object.py
  discord/raw_models.py
  discord/scheduled_events.py
  discord/team.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @RPSMain

Update __init__.py
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Categorize events
  docs/api.rst
Owners: @RPSMain, @Lulalaby

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
