Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Update on_member_update in event reference docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix typo in `voice_client.py`
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Fix AttributeError (#923)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add `created_at` to `Thread` (#830)
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

add `selected_options` and `unselected_options` properties to `ApplicationContext` for use in event handling
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix option dict
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix option list
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

better pythonicness
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fixed type mismatch in sync_commands (#925)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

add (better) typing back to actx.author that was removed in #848
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix typo in `voice_client.py`
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Fix actx.invoke docstring
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Use comment for feature freeze notice
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Remove unnecessary type conversion
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix getting desynced commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

better docstrings
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update on_member_update in event reference docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

apply code efficiency and readability improvements
  discord/__main__.py
  discord/abc.py
  discord/activity.py
  discord/asset.py
  discord/bot.py
  discord/client.py
  discord/cog.py
  discord/commands/core.py
  discord/components.py
  discord/enums.py
  discord/ext/commands/cog.py
  discord/ext/commands/converter.py
  discord/ext/commands/core.py
  discord/ext/commands/flags.py
  discord/ext/tasks/__init__.py
  discord/flags.py
  discord/guild.py
  discord/integrations.py
  discord/interactions.py
  discord/iterators.py
  discord/message.py
  discord/opus.py
  discord/player.py
  discord/role.py
  discord/scheduled_events.py
  discord/shard.py
  discord/state.py
  discord/ui/button.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook/async_.py
  discord/webhook/sync.py
  discord/welcome_screen.py
  examples/basic_bot.py
  examples/converters.py
  examples/views/counter.py
  examples/views/ephemeral.py
  examples/views/tic_tac_toe.py
Owners: @Middledot, @Grace-codes, @Dorukyum, @BobDotCom, @CodeWithSwastik, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @plun1331, @nerdguyahmed

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Remove debug_guild references
  discord/bot.py
  examples/app_commands/slash_cog_groups.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @BobDotCom, @CodeWithSwastik

Update bot.py (#944)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add ext.ipc to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

update docstrings, better way to handle retrieving options dict
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix situation where no selected options are chosen
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Resolve imports
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Improve and fix command registration
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Raise fatal errors on permissions failure
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Revert "Update discord/bot.py"
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Improve and fix command registration (#957)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Updates and fixes to `ApplicationContext.selected_options` and `ApplicationContext.unselected_options` (#953)
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix code
  examples/interactionsBot/cog_group/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

improve code
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Fix slash converters
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix code
  examples/interactionsBot/cogs/basicSlash_cog.py
Owners: @BobDotCom, @CodeWithSwastik

add regex lookup
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik

fix typos
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik

add a type: ignore
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik
