Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Fix `typo` in client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update docs/migrating_to_async.rst
  docs/migrating_to_async.rst
Owners: @RPSMain, @Lulalaby

Added support for tuples
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Made `include_bots` parameter a kwarg
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Add parameter name in mini docs
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Add `module` to SlashCommandGroup
  discord/commands/core.py
  ext.py
  ext2.py
  main.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fix removing application commands
  discord/bot.py
  discord/cog.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu

delete testing files i committed by accident
  ext.py
  ext2.py
  main.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed some possible issues with tuple types
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed other parameters breaking everything
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix error with option default params
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

use Optional[T] instead of Union[T, None]
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix role icon not setting unicode_emoji to None
  discord/role.py
Owners: @BobDotCom, @CodeWithSwastik

Add description to edit()
  discord/role.py
Owners: @BobDotCom, @CodeWithSwastik

Allow unicode_emoji to have NoneType
  discord/role.py
Owners: @BobDotCom, @CodeWithSwastik

Cleaning up code
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix error in docs
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Document attachment slash
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Typo
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Missing audit log docs for thread and s event
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix stage privacy level. it can only be guild_only
  docs/api.rst
Owners: @RPSMain, @Lulalaby

remove public stage level
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Add warning for usage of embedded activites
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix documentation of privacy_level
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Base docs for application-cogs
  docs/cogs.rst
Owners: @RPSMain, @Lulalaby

Use slash command
  docs/cogs.rst
Owners: @RPSMain, @Lulalaby

Fix role `icon` argument not setting unicode_emoji to None (#876)
  discord/role.py
Owners: @BobDotCom, @CodeWithSwastik

fix: do some typing in commands/context.py (#848)
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix extensions in discord.Bot (#838)
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fix version number
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Reworked how tuples are processed
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Prep for beta 1
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

add missing `guild_ids` parameter to `SlashCommandGroup.create_subgroup`
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Lift feature freeze
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Switch read_messages & view_channel
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/permissions.py
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
