Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Fix thread message edge case
  discord/message.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Fix thread message edge case
  discord/message.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Add overloads to load_extension(s)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Add set_mfa_required method
  discord/guild.py
  discord/http.py
  discord/types/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot, @BobDotCom, @CodeWithSwastik

remove redundancy
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add application command badge
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Add INVITES_DISABLED flag
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Revert INVITES_DISABLED flag
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Move* app_cmd_badge flag
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Use old name
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Correct location of app_commands_badge flag (#1553)
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Apply suggestions from code review
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Add set_mfa_required method (#1552)
  discord/guild.py
  discord/http.py
  discord/types/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot, @BobDotCom, @CodeWithSwastik

chore: refactor bans
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Improved example to be easier.
  examples/new_member.py
Owners: @BobDotCom, @CodeWithSwastik

Improved example to be easier.
  examples/new_member.py
Owners: @BobDotCom, @CodeWithSwastik

Store resume_gateway_url
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

Connect using resume_gateway_url
  discord/shard.py
Owners: @BobDotCom, @CodeWithSwastik

customize websocket properties
  discord/client.py
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/bridge/core.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Implement Fix
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

use custom_id to create timeout task
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Avoid unnecessary call to `sync_commands` (#1563)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

use custom_id to create timeout task
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: use None for optional parameters
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

remove __future__ import
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

ext.bridge improvements (#1496)
  discord/commands/core.py
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/interactions.py
  discord/utils.py
  docs/api.rst
  docs/ext/bridge/api.rst
  examples/bridge_commands.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik, @plun1331, @RPSMain

Fix `Interaction.edit_original_message()` message state
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update deleted.py
  examples/deleted.py
Owners: @BobDotCom, @CodeWithSwastik

Update edits.py
  examples/edits.py
Owners: @BobDotCom, @CodeWithSwastik

Update reaction_roles.py
  examples/reaction_roles.py
Owners: @BobDotCom, @CodeWithSwastik

Update reply.py
  examples/reply.py
Owners: @BobDotCom, @CodeWithSwastik

Update wait_for_event.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

Fix for application-based bots without the bot scope
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Documentation improvements on bridge commands
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

oops
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

Fallback on Object
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Patch fix
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Adjust guild object check
  discord/interactions.py
Owners: @plun1331, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
