Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Fix
  discord/http.py
Owners: @Lulalaby, @Middledot

move
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Change from "baronkobama" on Discord
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Change from "baronkobama" on Discord
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

fix: suggestions
  examples/command_error.py
Owners: @BobDotCom, @CodeWithSwastik

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Adding RPC endpoint support (Client.fetch_application) (#1536)
  discord/client.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Readd deleted empty line
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Apply suggestions from code review
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix: apply code suggestions
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

revert: fix SlashCommandGroups without...
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: SlashCommandGroup descriptions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

revert: fix SlashCommandGroups without...
  discord/commands/core.py
  docs/ext/bridge/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @RPSMain

fix: remove BaseBridgeCommand docs
  docs/ext/bridge/api.rst
Owners: @RPSMain, @Lulalaby

fix: SlashCommandGroup descriptions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: incorrect subclass + typehint
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: import error
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: enum options breaking & incorrect...
  discord/commands/options.py
  discord/shard.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

fix: enum options breaking & incorrect...
  discord/commands/options.py
  discord/shard.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

fix(docs): update privileged intent information
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Add "over 100 guilds"
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

fix(docs): update privileged intent information (#1542)
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

fix: error
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: other error
  discord/commands/core.py
  discord/ext/bridge/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

feat: example
  examples/bridge_commands.py
Owners: @BobDotCom, @CodeWithSwastik

Make sticker description required
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Adjust category and guild _channels attributes to work with NoneType positions (#1530)
  discord/channel.py
  discord/guild.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum

Actually fix sticker descriptions
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Fix docs
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Clarify docs
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add missing exceptions to docs
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add emoji validation to SelectOption's
  discord/components.py
Owners: @BobDotCom, @CodeWithSwastik

Add emoji validation to SelectOption's
  discord/components.py
Owners: @BobDotCom, @CodeWithSwastik

Bump next version (2.1.0) (#1480)
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Adding `on_check_failure` to `View` class (#799)
  discord/ui/view.py
Owners: @Dorukyum

Improve sticker creation checks (#1546)
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
