Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

docstring update
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix spelling mistake in `help.py`
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Fix #1058
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix #1058 (#1165)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix a few spelling errors (#1163)
  .github/ISSUE_TEMPLATE/bug_report.yml
  discord/client.py
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update permissions.py
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update voice_client.py
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Update voice_client.py
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Update voice_client.py
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Update voice_client.py
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update errors.py
  discord/sinks/errors.py
Owners: @BobDotCom, @CodeWithSwastik

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add `menu_placeholder` parameter to allow specifying placeholder text for the PageGroup menu (#1164)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix cog slash commands when using ctx.invoke() (#1160)
  discord/cog.py
  discord/commands/core.py
Owners: @Middledot, @Makiyu, @Dorukyum, @Lulalaby, @Prince2347X

Add `Modal.on_error`
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typehints for `send_modal` methods (#1157)
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix some kwargs failing
  .gitignore
  discord/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X

Update basic_bot.py
  examples/basic_bot.py
Owners: @BobDotCom, @CodeWithSwastik

Update new_member.py
  examples/new_member.py
Owners: @BobDotCom, @CodeWithSwastik

Update intents docs
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Remove item parameter from Modal.on_error
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Add datetime task to examples
  examples/background_task.py
Owners: @BobDotCom, @CodeWithSwastik

Simplify datetime task example
  examples/background_task.py
Owners: @BobDotCom, @CodeWithSwastik

Add datetime task to examples (#1174)
  examples/background_task.py
Owners: @BobDotCom, @CodeWithSwastik

add `cogs` in `examples`
  examples/cogs.py
Owners: @BobDotCom, @CodeWithSwastik

Add `setup` function in `example/cogs.py`
  examples/cogs.py
Owners: @BobDotCom, @CodeWithSwastik

Add `Modal.on_error` (#1167)
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Add `Client.get_message` (#1141)
  discord/client.py
  discord/flags.py
  docs/faq.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @RPSMain

Allow JSON Embeds For Easier Use
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

add EmbedField object to allow for easier embed class instance creation
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix some kwargs failing
  .gitignore
  discord/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X

Fix to_check in get_desynced_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add `Guild._fetch_role()` private method to support proper handling of role mentionable in slash command options (#1101)
  discord/commands/core.py
  discord/guild.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad

add TypeError if `fields` setter is passed a list containing anything other than `EmbedField` objects
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

initial pass at removing proxy object reliance from embed fields
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Fix `ApplicationCommand.__eq__`
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X
