Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Update autocomplete
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update repository examples (#1389)
  examples/app_commands/context_menus.py
  examples/app_commands/info.py
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_options.py
  examples/app_commands/slash_perms.py
  examples/audio_recording.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_bot.py
  examples/basic_voice.py
  examples/bridge_commands.py
  examples/converters.py
  examples/cooldown.py
  examples/custom_context.py
  examples/deleted.py
  examples/edits.py
  examples/guessing_game.py
  examples/modal_dialogs.py
  examples/new_member.py
  examples/reaction_roles.py
  examples/reply.py
  examples/secret.py
  examples/timeout.py
  examples/views/button_roles.py
  examples/views/confirm.py
  examples/views/counter.py
  examples/views/dropdown.py
  examples/views/ephemeral.py
  examples/views/link.py
  examples/views/paginator.py
  examples/views/persistent.py
  examples/views/tic_tac_toe.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "Merge branch 'code-refactorings' into master"
  discord/__main__.py
  discord/abc.py
  discord/activity.py
  discord/asset.py
  discord/audit_logs.py
  discord/bot.py
  discord/channel.py
  discord/client.py
  discord/cog.py
  discord/commands/context.py
  discord/commands/core.py
  discord/components.py
  discord/embeds.py
  discord/emoji.py
  discord/ext/bridge/core.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/ext/commands/cooldowns.py
  discord/ext/commands/core.py
  discord/ext/tasks/__init__.py
  discord/sinks/core.py
  discord/ui/button.py
  discord/webhook/async_.py
Owners: @Middledot, @Grace-codes, @Dorukyum, @BobDotCom, @CodeWithSwastik, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

Add support for SelectMenus in Modals
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update refresh_state to take dict directly
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Send interaction.data directly to refresh_state
  discord/ui/view.py
Owners: @Dorukyum

Update refresh_state to take dict directly
  discord/ui/item.py
Owners: @BobDotCom, @CodeWithSwastik

Update item.py
  discord/ui/item.py
Owners: @BobDotCom, @CodeWithSwastik

Adjustments to allow Select Menus alongside InputText
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

...import Union
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update error message
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update to new sticker limit (#1420)
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update TextChannel Option type to support NewsChannel
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix new line in colour.py
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Rename function
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Built in load_extension
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Alphabetize import module names
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update discord/colour.py
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Forgot to change self.load_extensions_from_path
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update discord/colour.py
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/colour.py
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Update colour.py
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed Indentation
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Fixing some types
  discord/types/audit_log.py
  discord/types/channel.py
  discord/types/guild.py
  discord/types/invite.py
  discord/types/member.py
  discord/types/webhook.py
Owners: @BobDotCom, @CodeWithSwastik

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Fixing some types
  discord/types/audit_log.py
  discord/types/channel.py
  discord/types/guild.py
  discord/types/invite.py
  discord/types/member.py
  discord/types/webhook.py
Owners: @BobDotCom, @CodeWithSwastik

Fix errors on using thread as an Option type
  discord/commands/core.py
  discord/guild.py
  discord/threads.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad, @BobDotCom, @CodeWithSwastik

Discard _invoke_flag when possible
  discord/channel.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Update threads.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Remove comment
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

ThreadOption patch and more changes
  discord/channel.py
  discord/commands/core.py
  discord/commands/options.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X
