Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Bump version to 2.0.1 stable
  discord/__init__.py
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/bridge/context.py
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

Documentation improvements on bridge commands (#1569)
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed documentation error link
  discord/ui/view.py
Owners: @Dorukyum

Fixed documentation error link (#1571)
  discord/ui/view.py
Owners: @Dorukyum

Respect limit argument in Guild.bans()
  discord/iterators.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: just make delete_message_days deprecated
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Apply cog_check method to ApplicationCommand invocations
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Respect limit argument in Guild.bans()
  discord/iterators.py
Owners: @BobDotCom, @CodeWithSwastik

Delete vulnerability_report.yml
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
Owners: @BobDotCom, @CodeWithSwastik

Changed styling for most of the examples. (#1566)
  examples/deleted.py
  examples/edits.py
  examples/reaction_roles.py
  examples/reply.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

fix issue with DM channels while using has_permissions
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix on_scheduled_event_update event
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

typo
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
Owners: @BobDotCom, @CodeWithSwastik

prob fix to codespell
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

excluding codespell config file
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

im stupid :(
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

reverting codespell to 2.2.0
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

reverting to 2.1.0...
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

feat(docs): Intents in Migration Guide
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

fix: misplaced section
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix to the codespell test error. (#1581)
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

Delete vulnerability_report.yml
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
Owners: @BobDotCom, @CodeWithSwastik

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @BobDotCom, @CodeWithSwastik

Update SECURITY.md
  .github/SECURITY.md
Owners: @BobDotCom, @CodeWithSwastik

Revert
  .github/ISSUE_TEMPLATE/config.yml
Owners: @BobDotCom, @CodeWithSwastik

Fix on_scheduled_event_update event (#1580)
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Fix converter instance check
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Rework vulnerability handling (#1584)
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
  .github/SECURITY.md
Owners: @BobDotCom, @CodeWithSwastik

Fixed small bug in `ApplicationCommand`
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed small bug in `ApplicationCommand` (#1585)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: typos and spelling errors
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

feat(docs): Message Content Intent in Migration Guide (#1583)
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix SlashCommandGroup description not being truly optional
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix SlashCommandGroup description not being truly optional
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Merge pull request #1575 from NeloBlivion/patch-13
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix `Interaction.edit_original_message()` InteractionMessage state (#1565)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix Example Typo/Syntax Error
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
