Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Add `BridgeExtContext.delete()` method (#1348)
  discord/commands/context.py
  discord/ext/bridge/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Forum channels support (#1249)
  discord/abc.py
  discord/channel.py
  discord/flags.py
  discord/guild.py
  discord/http.py
  discord/threads.py
  discord/types/channel.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad

Use resolved data to access user and member
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Store and return message data
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Add docstring
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Add more automod enums
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

fix missing `PageGroup` parameters in `PaginatorMenu` callback to `Paginator.update` Add `default` parameter to `PageGroup` which controls the initial `PageGroup`'s list of pages to display.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Implement Interaction.to_dict (#1274)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Add AutoMod types
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik

add logic to check if `pages` parameter is specified in `Paginator.update` before trying to check if they're all `PageGroup` objects
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

[ext.pages] Fixes and enhancements for `PageGroup` handling (#1350)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Minor Refactor
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Support event covers for audit logs
  discord/audit_logs.py
Owners: @BobDotCom, @CodeWithSwastik

Minor Refactor (#1351)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

fix bug
  discord/interactions.py
Owners: @plun1331, @Dorukyum

fix bug (#1357)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

fix bug
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Make TextChannel._get_channel async (#1358)
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Fix enum options
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix enum options (#1359)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix None being used as default
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix the enum options fix breaking bridge commands (#1363)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix #1364
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Bump to rc1
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Change guild_only to dm_permission in to_dict
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Cache members on interaction/option
  discord/commands/core.py
  discord/guild.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad, @plun1331

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Change guild_only to dm_permission in to_dict
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix #1364 (#1369)
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

chore(client): events dict now stores a list of coros
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

fix(client): subclass event handlers aren't called
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Add the new option design back
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add ForumChannel to GuildChannel type
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add news attribute to TextChannel
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Implement channel cache updating in Options
  discord/channel.py
  discord/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X

Implement new flags for member caching
  discord/commands/core.py
  discord/flags.py
  discord/guild.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad, @plun1331

Fix issubclass ran on non-type objects
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
