Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Linkcheck ignore discord articles
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Linkcheck ignore dis.gd/contact
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Fix discord support article ignore
  docs/conf.py
Owners: @RPSMain, @Lulalaby

add get_or_fetch_member
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

fix description
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Remove margin from exc hierarchy
  docs/_static/css/custom.css
Owners: @RPSMain, @Lulalaby

Delete search scorer
  docs/_static/scorer.js
Owners: @RPSMain, @Lulalaby

Strong element font
  docs/_static/css/custom.css
Owners: @RPSMain, @Lulalaby

Use furo fork
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Add sphinx.ext.viewcode
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Remove custom theme colors
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Mobile header text custom font
  docs/_static/css/custom.css
Owners: @RPSMain, @Lulalaby

Add build timer
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Fix bridge.has_permissions (#1695)
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

feat(docs): warning on overriding on_connect (#1689)
  discord/bot.py
  docs/api.rst
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @RPSMain, @Lulalaby

Adjust to use async functions instead
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Updated to run in same for loop
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Start implementing PEP 655
  discord/types/activity.py
  discord/types/appinfo.py
  discord/types/audit_log.py
  discord/types/automod.py
  discord/types/channel.py
  discord/types/invite.py
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Continue PEP 655 implementation
  discord/types/components.py
  discord/types/embed.py
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik

Add missing attributes & create ForumTag
  discord/channel.py
  discord/flags.py
  discord/http.py
  discord/partial_emoji.py
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Middledot

Fix typehint syntax
  discord/http.py
Owners: @Lulalaby, @Middledot

Fix typehints
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Reset pydocstringformatter rev to v8
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

Remove docs changes
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Reworked `get_application_command` behaviour (#1678)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Adjust original_message deprecation warning (#1681)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix typehints
  discord/commands/context.py
  discord/commands/core.py
  discord/errors.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fix more typehints
  discord/ext/commands/context.py
Owners: @BobDotCom, @CodeWithSwastik

add discord.Guild.get_or_fetch()
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

fix docstring
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add Docstring to Enum for Option descriptions, issue 1510 (#1699)
  discord/commands/options.py
  discord/enums.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @RPSMain

switched from TypeVar to Union
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

easiest typehinting possible i guess
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

back to typevar
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

forgot to import thing uh
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Doc restyle (#1697)
  .github/workflows/docs.yml
  discord/ext/commands/help.py
  discord/object.py
  docs/_static/codeblocks.css
  docs/_static/copy.js
  docs/_static/css/custom.css
  docs/_static/custom.js
  docs/_static/icons.css
  docs/_static/icons.woff
  docs/_static/js/custom.js
  docs/_static/scorer.js
  docs/_static/settings.js
  docs/_static/sidebar.js
  docs/_static/style.css
  docs/_templates/genindex.html
  docs/_templates/layout.html
  docs/_templates/relations.html
  docs/conf.py
  docs/images/snake_dark.svg
  docs/whats_new.rst
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Autodoc typehints config
  docs/conf.py
  pyproject.toml
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

Remove redundant property types
  discord/client.py
  discord/shard.py
Owners: @BobDotCom, @CodeWithSwastik

Update whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Improvised
  discord/ui/view.py
Owners: @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
