Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Pycord-Development/maintainers, @Pycord-Development/maintain-tests, @Pycord-Development/maintain-ext-bridge, @Lulalaby, @Pycord-Development/maintain-translations

.github/CODEOWNERS:

* @Pycord-Development/maintainers

/tests/ @Pycord-Development/maintain-tests
/discord/ext/testing/ @Pycord-Development/maintain-tests
/discord/ext/bridge/ @Pycord-Development/maintain-ext-bridge
/.github/ @Pycord-Development/maintainers @Lulalaby
/docs/locales/ @Pycord-Development/maintain-translations
/docs/build/locales/ @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-download.yml @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-upload.yml @Pycord-Development/maintain-translations
/crowdin.yml @Pycord-Development/maintain-translations
/requirements/_locale.txt @Pycord-Development/maintain-translations

docs: fix changelog to adhere to conventions
  CHANGELOG.md
Owners: @Pycord-Development/maintainers

fix: properly deprecate `summary`
  CHANGELOG.md
  discord/appinfo.py
Owners: @Pycord-Development/maintainers

docs: fix `tags` typing
  discord/appinfo.py
Owners: @Pycord-Development/maintainers

docs: fix summary formatting
  discord/appinfo.py
Owners: @Pycord-Development/maintainers

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/es/LC_MESSAGES/api/cogs.po
  docs/locales/es/LC_MESSAGES/api/data_classes.po
  docs/locales/es/LC_MESSAGES/api/models.po
  docs/locales/es/LC_MESSAGES/api/sinks.po
  docs/locales/es/LC_MESSAGES/api/ui_kit.po
  docs/locales/es/LC_MESSAGES/api/utils.po
  docs/locales/es/LC_MESSAGES/api/voice.po
  docs/locales/es/LC_MESSAGES/api/webhooks.po
  docs/locales/es/LC_MESSAGES/discord.po
  docs/locales/es/LC_MESSAGES/ext/commands/api.po
  docs/locales/es/LC_MESSAGES/ext/pages/index.po
  docs/locales/es/LC_MESSAGES/ext/tasks/index.po
  docs/locales/es/LC_MESSAGES/faq.po
  docs/locales/es/LC_MESSAGES/installing.po
  docs/locales/es/LC_MESSAGES/intents.po
  docs/locales/ru/LC_MESSAGES/api/application_commands.po
  docs/locales/ru/LC_MESSAGES/api/clients.po
  docs/locales/ru/LC_MESSAGES/api/data_classes.po
  docs/locales/ru/LC_MESSAGES/api/models.po
  docs/locales/ru/LC_MESSAGES/api/ui_kit.po
  docs/locales/ru/LC_MESSAGES/api/utils.po
  docs/locales/ru/LC_MESSAGES/api/voice.po
  docs/locales/ru/LC_MESSAGES/api/webhooks.po
  docs/locales/ru/LC_MESSAGES/ext/bridge/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/api.po
  docs/locales/ru/LC_MESSAGES/ext/commands/cogs.po
  docs/locales/ru/LC_MESSAGES/ext/commands/extensions.po
  docs/locales/ru/LC_MESSAGES/ext/pages/index.po
  docs/locales/ru/LC_MESSAGES/intents.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v1.po
  docs/locales/ru/LC_MESSAGES/migrating_to_v2.po
Owners: @Pycord-Development/maintain-translations

fix(actions): fix crowdin action, use bot to create pr
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
Owners: @Pycord-Development/maintain-translations

fix(actions): fix crowdin action, use bot to create pr
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
  .github/workflows/version-updates.yml
Owners: @Pycord-Development/maintain-translations, @Pycord-Development/maintainers, @Lulalaby

docs: Update localizations from Crowdin
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/ext/bridge/api.po
  docs/locales/de/LC_MESSAGES/ext/commands/api.po
  docs/locales/de/LC_MESSAGES/ext/commands/commands.po
  docs/locales/de/LC_MESSAGES/ext/tasks/index.po
Owners: @Pycord-Development/maintain-translations

docs: Update localizations from Crowdin (#2546)
  .github/workflows/version-updates.yml
  docs/build/locales/.doctrees/api/index.doctree
  docs/build/locales/.doctrees/ext/bridge/index.doctree
  docs/build/locales/.doctrees/ext/commands/index.doctree
  docs/build/locales/.doctrees/index.doctree
  docs/locales/de/LC_MESSAGES/ext/bridge/api.po
  docs/locales/de/LC_MESSAGES/ext/commands/api.po
  docs/locales/de/LC_MESSAGES/ext/commands/commands.po
  docs/locales/de/LC_MESSAGES/ext/tasks/index.po
Owners: @Pycord-Development/maintainers, @Lulalaby, @Pycord-Development/maintain-translations

[ci skip] chore(actions): update description
  .github/workflows/docs-localization-download.yml
Owners: @Pycord-Development/maintain-translations

chore(actions)!: rework actions
  .github/workflows/.cleanup-todo
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
  .github/workflows/lib-checks.yml
  .github/workflows/lint.yml
  .github/workflows/pr-auto-approve.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test.yml
  .github/workflows/todo-checks.yml
  .github/workflows/todo.yml
  .pre-commit-config.yaml
Owners: @Pycord-Development/maintainers, @Lulalaby, @Pycord-Development/maintain-translations

chore(actions)!: rework actions (#2547)
  .github/workflows/.cleanup-todo
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-localization-download.yml
  .github/workflows/docs-localization-upload.yml
  .github/workflows/lib-checks.yml
  .github/workflows/lint.yml
  .github/workflows/pr-auto-approve.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test.yml
  .github/workflows/todo-checks.yml
  .github/workflows/todo.yml
  .pre-commit-config.yaml
Owners: @Pycord-Development/maintainers, @Lulalaby, @Pycord-Development/maintain-translations

Delete codeql.yml
  .github/workflows/codeql.yml
Owners: @Pycord-Development/maintainers, @Lulalaby

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @Pycord-Development/maintainers, @Lulalaby
