Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Add a dockerfile and update requirements
  Dockerfile
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

fix: it's raining the same validation errors
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

refactor: cleanup
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix(docs): select menu's min_values
  discord/components.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

fix: only run on slash groups
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

feat: implement bridge.has_permissions
  discord/ext/bridge/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: shortcuts
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

chore: docs
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

fix: invoke bug
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

refactor: remove comment
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

chore: cleanup documentation issues (#1599)
  discord/abc.py
  discord/automod.py
  discord/channel.py
  discord/cog.py
  discord/commands/options.py
  discord/ext/pages/pagination.py
  discord/guild.py
  discord/interactions.py
  discord/message.py
  discord/shard.py
  discord/utils.py
  discord/welcome_screen.py
  docs/api.rst
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Makiyu, @Lulalaby, @Prince2347X, @nerdguyahmad, @plun1331, @nerdguyahmed, @RPSMain

Remove unnecessary instance check in autocomplete
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

fix(docs): select menu's min_values description (#1641)
  discord/components.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Attempting to fix merge conflict
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Categorize Event Reference Events (#1644)
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Remove unnecessary instance check in autocomplete (#1643)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add dynamic_cooldown example
  examples/cooldown.py
Owners: @BobDotCom, @CodeWithSwastik

Update cooldown.py
  examples/cooldown.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/cooldown.py
  examples/cooldown.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/cooldown.py
  examples/cooldown.py
Owners: @BobDotCom, @CodeWithSwastik

Add example for dynamic cooldowns (#1646)
  examples/cooldown.py
Owners: @BobDotCom, @CodeWithSwastik

Make interaction user attribute non-optional
  discord/commands/context.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

Update discord/ext/bridge/core.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/command_error.py
  examples/command_error.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/command_error.py
  examples/command_error.py
Owners: @BobDotCom, @CodeWithSwastik

Add forum tag fields
  discord/channel.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Add rc1 changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add beta 7
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update semantic versioning message
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add changelog to project_urls
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update changelog with unreleased entries
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update unreleased URL
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Implement changelog (#1598)
  CHANGELOG.md
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Proxy webhooks and interactions
  discord/interactions.py
  discord/webhook/async_.py
Owners: @plun1331, @Dorukyum, @BobDotCom, @CodeWithSwastik

Update changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add 3.11 to package classifiers
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Add 3.11 to package classifiers (#1656)
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/webhook/async_.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Proxy webhooks and interactions (#1655)
  CHANGELOG.md
  discord/interactions.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik, @plun1331, @Dorukyum
