Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Improved Readme Badges (#1146)
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add `Client.get_message` to `Intents.messages` doc
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

slight change in README
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Match text with hyphen
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Fixes typo in `new_member` example
  examples/new_member.py
Owners: @BobDotCom, @CodeWithSwastik

Fixes typo in `new_member` example (#1153)
  examples/new_member.py
Owners: @BobDotCom, @CodeWithSwastik

Fix of app command example (slash_options)
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Update slash_options.py
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

modified ctx.send_modal to ctx.interaction.response.send_modal.
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typehints for `send_modal` methods
  discord/commands/context.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

Update quickstart.rst
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update quickstart.rst
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "Run parent checks in `can_run` (#1027)"
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "Run parent checks in `can_run` (#1027)" (#1158)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Revert "Revert "Run parent checks in `can_run` (#1027)" (#1158)"
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "Revert "Run parent checks in `can_run` (#1027)" (#1158)" (#1159)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Ensure command instances of all types are updated
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Call application commands in cogs correctly
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix mentionable option type
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Support different option types besides str
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix 3.10 support for Union in options
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Keep InteractionResponse.send_modal typehint
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Slight change in README (#1152)
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

change `Guild.fetch_role` to private method `Guild._fetch_role` and add corresponding handling in `utils.get_or_fetch`
  discord/guild.py
  discord/utils.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

update note per recommendation from @zeffo
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

SlashCommandGroup has no callback, so exclude it
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

add `InputTextStyle` to enum docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix doc styling
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix doc styling
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add docs for `InputTextStyle` enum values. (#1161)
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix spelling errors in `help.py`
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Fix spelling mistake in `bug_report.yml`
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @BobDotCom, @CodeWithSwastik

Fix spelling mistake in `client.py`
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Add `menu_placeholder` parameter to allow specifying placeholder text for the PaginatorMenu
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
