Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Cleaning up unused code
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

added pre-commit
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

added isort config
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

rewrite isort.cfg
  .isort.cfg
Owners: @BobDotCom, @CodeWithSwastik

added lint
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Fix #902
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

[ext.pages] Add disable/cancel methods to `Paginator` class
  discord/ext/pages/pagination.py
  examples/views/paginator.py
Owners: @BobDotCom, @CodeWithSwastik

Fix #902
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix docs to support beta detection
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Finish application command registration
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Prep for beta 2
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Command registration rewrite (#759)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump to beta 2
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

fix: add sinks to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy errors in discord/ext/tasks/__init__.py
  discord/ext/tasks/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

fix: add sinks to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

fix: add sinks to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Bump to beta 3
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Reworked the option decorator
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Potential fix for many issues
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix more issues
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

feat: type hint `Sink.vc`
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: move to `TYPE_CHECKING`
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

chore: fix typing
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: conflicts
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: missing import
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

feat: type hint `Sink.vc` (#919)
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: imports
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: imports
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update setup.py
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Fix AttributeError
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update audio_recording.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed type mismatch in sync_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump to beta 4
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix a bug
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update examples/modal_dialogs.py
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/modal_dialogs.py
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/modal_dialogs.py
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

add (better) typing back to actx.author that was removed in #848
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X
