Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Upgrade utils.deprecated & add utils.warn_deprecated
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Add PR deps workflow
  .github/workflows/pr_deps.yml
Owners: @BobDotCom, @CodeWithSwastik

Update pr_deps.yml
  .github/workflows/pr_deps.yml
Owners: @BobDotCom, @CodeWithSwastik

feat: add more extensive usage
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update pr_deps.yml
  .github/workflows/pr_deps.yml
Owners: @BobDotCom, @CodeWithSwastik

Upgrade utils.deprecated & add utils.warn_deprecated (#1657)
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

fix: var assignment error
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

New delete_message_seconds parameter (#1557)
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Add raw_mention utilities
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Add get_item to View
  discord/ui/view.py
Owners: @Dorukyum

Update discord/ui/view.py
  discord/ui/view.py
Owners: @Dorukyum

Update Decorators
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix Errors
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix Workflow Errors
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Updated wording to match other get functions
  discord/ui/view.py
Owners: @Dorukyum

Adjust regex for parity with the client
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Prefer warn_message_seconds and warn deprecated
  discord/http.py
Owners: @Lulalaby, @Middledot

Update CHANGELOG.md
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update SECURITY.md
  .github/SECURITY.md
Owners: @BobDotCom, @CodeWithSwastik

fix: more cog-setting errors
  discord/commands/core.py
  discord/commands/mixins.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

chore: use more generic cog typehints
  discord/cog.py
  discord/ext/commands/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum, @BobDotCom, @CodeWithSwastik

Create a Changelog Entry
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

chore: better typehint
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

chore: better typehint
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

fix: broken cog attribute
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

Update the Changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add View.get_item shortcut method (#1659)
  discord/ui/view.py
Owners: @Dorukyum

Update CHANGELOG.md
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update CHANGELOG.md
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update CHANGELOG.md
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Update CHANGELOG.md
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

[ext.bridge] Permission decorators and invoke function (#1642)
  CHANGELOG.md
  discord/cog.py
  discord/commands/permissions.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/ext/commands/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Middledot, @Makiyu, @Dorukyum, @Lulalaby, @Prince2347X, @RPSMain

Add raw_mention utils (#1658)
  CHANGELOG.md
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

Rename `original_message` to `original_response` (#1609)
  CHANGELOG.md
  discord/commands/context.py
  discord/ext/pages/pagination.py
  discord/interactions.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

Bump version to 2.2.0
  CHANGELOG.md
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

chore: improve a cog check
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Add a missing parenthesis
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Fix incorrect PR link
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Rename pr_deps.yml to pr-deps.yml
  .github/workflows/pr-deps.yml
Owners: @BobDotCom, @CodeWithSwastik
