Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

update docstring
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

add in changed return value for underlying send_modal method
  discord/interactions.py
Owners: @plun1331, @Dorukyum

initial pass at enforcing component limits
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

update CONTRIBUTING.md column limit to match linting configs
  .github/CONTRIBUTING.md
Owners: @BobDotCom, @CodeWithSwastik

additional component limit enforcement
  discord/components.py
  discord/ui/button.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

more consistency in custom_id type checking logic
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

add and update docstrings for `Modal` and `InputText` objects and related methods
  discord/interactions.py
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @plun1331, @Dorukyum, @BobDotCom, @CodeWithSwastik

set `InputText.label` as required
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

set `InputText.label` as required
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

add `reason` kwarg to channel.delete_message, channel.delete_messages, channel.purge, message.delete
  discord/channel.py
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

add `reason` kwarg to TextChannel.delete_messages, TextChannel.purge, Message.delete
  discord/channel.py
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

add a few missing reason kwargs
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

add temp print statements
  discord/http.py
Owners: @Lulalaby, @Middledot

Update lint.yaml
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

removed lint workflow temporarily due to implementation concerns
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Music Bot example
  examples/music_bot_with_slash_commands.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/converters.py
  examples/converters.py
Owners: @BobDotCom, @CodeWithSwastik

Fix custom_id field
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Removed unused parameter and incorrect docstring.
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

potential fix for #1083 by converting WebhookMessage to Message
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix for #1082
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix for #1082
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

proper fix for #1083 by converting WebhookMessage and InteractionMessage to Message
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

apply fix for #1082 to `cancel()` method as well
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

apply fix for #1082 to `cancel()` method as well
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix logic for cancel/disable
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix branch config
  docs/conf.py
Owners: @RPSMain, @Lulalaby

add `client` property to `Interaction` class
  discord/interactions.py
Owners: @plun1331, @Dorukyum

fix for `label` being required
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

have `send_modal` return `Interaction` class to match behavior of `send_message`
  discord/commands/context.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

additional fix for `InputText.label` being required
  discord/components.py
Owners: @BobDotCom, @CodeWithSwastik

fixes #1092
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Basic forum channel support
  discord/channel.py
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Added permissions_for, members, and threads methods to ForumChannel
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

add `reference`, `allowed_mentions`, and `mention_author` parameters to paginator.send to allow controlling the underlying Messageable.send() behavior.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Added a few adding fields and methods, get_thread() does not work completely yet
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Renamed original_message of Interaction class to follow discord.py naming convention fetch_x
  discord/interactions.py
Owners: @plun1331, @Dorukyum

add `reference`, `allowed_mentions`, and `mention_author` parameters to paginator.send to allow controlling the underlying Messageable.send() behavior. (#1097)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add `client` property to `Interaction` class (#1090)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

add `Guild.fetch_role()` method
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
