Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Add debug steps
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Check file perms
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Add debug checks
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

Add more debug
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

CI debugging
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Add certifi to requirements
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Switch to python-magic
  tests/requirements.txt
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

Add codecov token
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Remove debug steps
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Add linux to matrix
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Add windows to matrix
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Use pytest-cov
  pyproject.toml
  tests/Makefile
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Reorganize requirements
  requirements-dev.txt
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Use Client instead of HTTPClient
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

python 3.8 support
  tests/middlewareplugin.py
  tests/parsing.py
Owners: @BobDotCom, @CodeWithSwastik

Modify coverage options
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Install base requirements in make install
  tests/Makefile
Owners: @BobDotCom, @CodeWithSwastik

Remove redundant lines in tests
  .github/workflows/python-app.yml
  tests/Makefile
Owners: @BobDotCom, @CodeWithSwastik

Add libmagic binaries for windows
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Pin exact versions
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Fix permission error (del queue after proxy)
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

feat: initial implementation of selects v2
  discord/components.py
  discord/enums.py
  discord/types/components.py
  discord/ui/select.py
  discord/ui/view.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

Implement get_guild test
  .gitignore
  tests/data/guild.json
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

Improve import tests
  tests/import.py
  tests/test_import.py
Owners: @BobDotCom, @CodeWithSwastik

Correct version_info number type (#1701)
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Apply correct fix for MISSING default
  discord/ext/commands/flags.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

Fix errors that will occur in python3.11 (#1680)
  discord/ext/commands/flags.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

Add docstring to all enum classes.
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Edit ChannelType documentation for #1510
  docs/api.rst
Owners: @RPSMain, @Lulalaby

only use Enum docstring for Option if description is None
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: bugs
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add new classes and methods to docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix: add new classes to __all__
  discord/components.py
Owners: @BobDotCom, @CodeWithSwastik

fix: title underlines
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix: ComponentType refs
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: make value parsing somewhat consistent
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/select.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Update select.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Add linkcheck ignore
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Remove dead link
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby
