Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Adjust deprecated aliases
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Add imports, change decorator to warn_deprecated
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Minor get_or_fetch docs fix (#1684)
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Add github actions to dependabot
  .github/dependabot.yml
Owners: @BobDotCom, @CodeWithSwastik

Add 3.11 to CI
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Make build-system.requires less strict
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

feat(docs): warning on overriding on_connect
  discord/bot.py
  docs/api.rst
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @RPSMain, @Lulalaby

fix: broken reference
  docs/api.rst
Owners: @RPSMain, @Lulalaby

create_thread_from_forum fixed
  discord/channel.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Edit ChannelType documentation for #1510
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix: broken global decos
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

a little change
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

feat: example of overriding on_connect
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Initial documentation restyle
  docs/_static/css/custom.css
  docs/_static/js/custom.js
  docs/conf.py
  pyproject.toml
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

Remove some stale files
  docs/_static/codeblocks.css
  docs/_static/copy.js
  docs/_static/custom.js
  docs/_static/icons.css
  docs/_static/icons.woff
  docs/_static/settings.js
  docs/_static/sidebar.js
  docs/_static/style.css
  docs/_templates/genindex.html
  docs/_templates/layout.html
  docs/_templates/relations.html
Owners: @RPSMain, @Lulalaby

Use theme vars for attribute table
  docs/_static/css/custom.css
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Use * operator for py38 compat
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Fix dpy issue links
  discord/ext/commands/help.py
  discord/object.py
  docs/conf.py
  docs/whats_new.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Use custom fonts
  docs/_static/css/custom.css
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Remove custom scorer
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Adjust dark snake colors
  docs/images/snake_dark.svg
Owners: @RPSMain, @Lulalaby

Implement light/dark snake switch
  docs/_static/css/custom.css
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Add linkcheck step
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

Update README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Implemented minimal working test runner
  tests/middlewareplugin.py
  tests/parsing.py
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

Add docstring to all enum classes.
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

only use Enum docstring for Option if description is None
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

chore: make version_info use integers
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/_version.py
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/_version.py
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Bump proxy.py requirement
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Remove old conf value
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Update test workflow
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

temporarily remove linux
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Pin test requirements
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Install libmagic on mac
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Specify shell
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Change libmagic installation
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Temporarily remove windows
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Revert "Specify shell"
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
