Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Add an assignment statement to setter (#980)
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/app_commands/slash_options.py
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Add slash command attachment example (#965)
  discord/enums.py
  examples/app_commands/slash_options.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Update input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

add input_text decorator
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed support with the options kwarg in slash_commands
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix get_desynced_commands function
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

add input_text decorator
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Re-added input_type parameter in Option __init__
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

decorator?
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

decorator?
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

remove unnecessary weights from modals?
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

remove `Item` inheritance from `InputText`
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

remove `Item` inheritance from `InputText`
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

remove decorator from InputText as it's not beneficial
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

cleanup
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

improve example
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

cleanup
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Merge pull request #988 from krittick/modal-fixes
  discord/ui/input_text.py
  discord/ui/modal.py
  examples/modal_dialogs.py
Owners: @BobDotCom, @CodeWithSwastik

pep8
  discord/__main__.py
  discord/abc.py
  discord/activity.py
  discord/asset.py
  discord/audit_logs.py
  discord/bot.py
  discord/client.py
  discord/cog.py
  discord/commands/options.py
  discord/components.py
  discord/enums.py
  discord/ext/commands/cog.py
  discord/ext/tasks/__init__.py
  discord/flags.py
  discord/guild.py
  discord/integrations.py
  discord/interactions.py
  discord/iterators.py
  discord/message.py
  discord/opus.py
  discord/player.py
  discord/role.py
  discord/scheduled_events.py
  discord/shard.py
  discord/state.py
  discord/ui/button.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook/async_.py
  discord/webhook/sync.py
  discord/welcome_screen.py
  examples/basic_bot.py
  examples/converters.py
  examples/views/counter.py
  examples/views/ephemeral.py
  examples/views/tic_tac_toe.py
Owners: @Middledot, @Grace-codes, @Dorukyum, @BobDotCom, @CodeWithSwastik, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @plun1331, @nerdguyahmed

add pre-commit workflows
  .github/DEVELOPER_CERTIFICATE_OF_ORIGIN.md
  .github/dependabot.yml
  .github/workflows/lint.yaml
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .pylintrc
  README.rst
  discord/abc.py
  discord/activity.py
  discord/audit_logs.py
  discord/channel.py
  discord/embeds.py
  discord/enums.py
  discord/flags.py
  discord/message.py
  discord/ui/view.py
  discord/utils.py
  docs/_static/custom.js
  docs/api.rst
  docs/application_commands.rst
  docs/conf.py
  docs/discord.rst
  docs/ext/commands/api.rst
  docs/ext/commands/cogs.rst
  docs/extensions/attributetable.py
  docs/extensions/details.py
  docs/extensions/exception_hierarchy.py
  docs/extensions/resourcelinks.py
  docs/images/snake.svg
  docs/installing.rst
  docs/intents.rst
  docs/logging.rst
  docs/quickstart.rst
  docs/version_guarantees.rst
  docs/whats_new.rst
  requirements.txt
  setup.py
Owners: @BobDotCom, @CodeWithSwastik, @Grace-codes, @Middledot, @Dorukyum, @Lulalaby, @RPSMain

add pre-commit workflows (#990)
  .github/DEVELOPER_CERTIFICATE_OF_ORIGIN.md
  .github/dependabot.yml
  .github/workflows/lint.yaml
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .pylintrc
  README.rst
  discord/abc.py
  discord/activity.py
  discord/audit_logs.py
  discord/channel.py
  discord/embeds.py
  discord/enums.py
  discord/flags.py
  discord/message.py
  discord/ui/view.py
  discord/utils.py
  docs/_static/custom.js
  docs/api.rst
  docs/application_commands.rst
  docs/conf.py
  docs/discord.rst
  docs/ext/commands/api.rst
  docs/ext/commands/cogs.rst
  docs/extensions/attributetable.py
  docs/extensions/details.py
  docs/extensions/exception_hierarchy.py
  docs/extensions/resourcelinks.py
  docs/images/snake.svg
  docs/installing.rst
  docs/intents.rst
  docs/logging.rst
  docs/quickstart.rst
  docs/version_guarantees.rst
  docs/whats_new.rst
  requirements.txt
  setup.py
Owners: @BobDotCom, @CodeWithSwastik, @Grace-codes, @Middledot, @Dorukyum, @Lulalaby, @RPSMain

remove extra spaces
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

add modals to docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix modal rows
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Merge pull request #993 from krittick/fix-modal-rows
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Move dev requirements to requirements-dev.txt
  requirements-dev.txt
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Formatting
  discord/backoff.py
Owners: @BobDotCom, @CodeWithSwastik

Move dev requirements to requirements-dev.txt (#995)
  requirements-dev.txt
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Added docs for Option
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

change Black setting to use 120 characters for line length
  .pylintrc
  discord/invite.py
  discord/ui/view.py
  examples/app_commands/slash_cog_groups.py
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum

change Black setting to use 120 characters for line length
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

fix: loop errors
  discord/ext/ipc/server.py
Owners: @BobDotCom, @CodeWithSwastik

ci: run black
  discord/ext/ipc/__init__.py
  discord/ext/ipc/base.py
  discord/ext/ipc/errors.py
  discord/ext/ipc/server.py
  discord/ext/ipc/session.py
Owners: @BobDotCom, @CodeWithSwastik

chore: little change
  docs/ext/ipc/api.rst
Owners: @RPSMain, @Lulalaby

fix: typo
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Fix codestyle
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix bugs in get_desynced_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Support providing option channel types as list
  discord/commands/options.py
  discord/enums.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot
