Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Fix `self._application_commands.pop` in `remove_application_command` (#1391)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update custom_context.py
  examples/custom_context.py
Owners: @BobDotCom, @CodeWithSwastik

TicTacToe example + import syntax consistency
  examples/basic_voice.py
  examples/converters.py
  examples/secret.py
  examples/views/tic_tac_toe.py
Owners: @BobDotCom, @CodeWithSwastik

Prefixes + debug_guilds
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_perms.py
  examples/basic_bot.py
  examples/bridge_commands.py
  examples/converters.py
  examples/cooldown.py
  examples/custom_context.py
  examples/modal_dialogs.py
  examples/secret.py
Owners: @BobDotCom, @CodeWithSwastik

Use new embed/modal parameters + trailing commas
  examples/app_commands/info.py
  examples/app_commands/slash_perms.py
  examples/modal_dialogs.py
  examples/secret.py
  examples/views/button_roles.py
  examples/views/dropdown.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

Paginator + comment updates/additions
  examples/app_commands/slash_cog.py
  examples/views/button_roles.py
  examples/views/dropdown.py
  examples/views/link.py
  examples/views/paginator.py
Owners: @BobDotCom, @CodeWithSwastik

Update slash_cog_groups.py
  examples/app_commands/slash_cog_groups.py
Owners: @BobDotCom, @CodeWithSwastik

Raise error if permissions set on subcommand
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove second check for option input type
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Apply new option type from annotation
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update Activity.buttons documentation
  discord/activity.py
  discord/types/activity.py
Owners: @BobDotCom, @CodeWithSwastik

Add 1 ms sleep to Opus DecodeManager loop
  discord/opus.py
Owners: @BobDotCom, @CodeWithSwastik

Opus Decoder: only sleep if decode queue is empty
  discord/opus.py
Owners: @BobDotCom, @CodeWithSwastik

Update bridge_commands.py
  examples/bridge_commands.py
Owners: @BobDotCom, @CodeWithSwastik

Update slash_options.py
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

add support for automod timeouts
  discord/automod.py
  discord/enums.py
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

Update raw_models.py
  discord/types/raw_models.py
Owners: @BobDotCom, @CodeWithSwastik

Update guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Remove MemberCacheFlags.option
  discord/commands/core.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed a bug in ext.pages.Paginator
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

keyword_lists to presets
  discord/automod.py
  discord/enums.py
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

rework auto_moderation_action_execution event
  discord/raw_models.py
  discord/state.py
  discord/types/raw_models.py
  docs/api.rst
Owners: @nerdguyahmad, @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Implement creating forum posts with webhooks
  discord/webhook/async_.py
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Add ext.bridge to issue selection
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @BobDotCom, @CodeWithSwastik

Add ext.bridge to issue selection (#1406)
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @BobDotCom, @CodeWithSwastik

Update conf.py
  docs/conf.py
Owners: @RPSMain, @Lulalaby

The examples link is broken
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Update Activity.buttons documentation
  discord/activity.py
  discord/types/activity.py
Owners: @BobDotCom, @CodeWithSwastik

Fix NoneType object error
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Fix busy-loop in opus.py DecodeManager (#1395)
  discord/opus.py
Owners: @BobDotCom, @CodeWithSwastik

Fix Missing space causing docs to not format properly
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Fix Missing space causing docs to not format properly (#1408)
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update field type to be more precise
  discord/activity.py
Owners: @BobDotCom, @CodeWithSwastik

Fix incorrect activities and permissions on `Interaction` and `Option` objects (#1365)
  discord/channel.py
  discord/commands/core.py
  discord/flags.py
  discord/guild.py
  discord/interactions.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @nerdguyahmad, @plun1331

Improved example docs for audio_recording
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "Bump sphinx from 4.5.0 to 5.0.1 (#1397)"
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

add type annotation to example of `app_commands`.
  examples/app_commands/context_menus.py
  examples/app_commands/info.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_perms.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "Bump sphinx from 4.5.0 to 5.0.1" (#1410)
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update example option type
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik
