Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

fix regex
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik

improve code
  examples/interactionsBot/cogs/button_cog.py
Owners: @BobDotCom, @CodeWithSwastik

improve code
  examples/interactionsBot/cogs/dropdown_cog.py
Owners: @BobDotCom, @CodeWithSwastik

Improve code
  examples/interactionsBot/cogs/slashGroup_cog.py
Owners: @BobDotCom, @CodeWithSwastik

fix typos
  examples/interactionsBot/cogs/basicSlash_cog.py
Owners: @BobDotCom, @CodeWithSwastik

Improve code
  examples/interactionsBot/cogs/slashOption_cog.py
Owners: @BobDotCom, @CodeWithSwastik

add comment about type: ignore
  examples/interactionsBot/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typo in comment
  examples/app_commands/slash_autocomplete.py
Owners: @BobDotCom, @CodeWithSwastik

Fix slash converters
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix typo in comment
  examples/app_commands/slash_autocomplete.py
Owners: @BobDotCom, @CodeWithSwastik

fix missing import
  discord/components.py
Owners: @BobDotCom, @CodeWithSwastik

better place for handling modal submission thanks to @Middledot
  discord/bot.py
  discord/state.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @BobDotCom, @CodeWithSwastik

fix enum vs int comparison
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

fix circular import
  discord/types/message.py
Owners: @BobDotCom, @CodeWithSwastik

remove Context
  examples/interactionsBot/cog_group/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Add support for Input Text and Modal components (#630)
  discord/bot.py
  discord/components.py
  discord/enums.py
  discord/interactions.py
  discord/state.py
  discord/types/components.py
  discord/ui/__init__.py
  discord/ui/input_text.py
  discord/ui/modal.py
  examples/modal_dialogs.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @BobDotCom, @CodeWithSwastik, @Lulalaby, @plun1331

Slash Attachments (#579)
  discord/commands/core.py
  discord/enums.py
  discord/types/interactions.py
  discord/types/message.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @BobDotCom, @CodeWithSwastik

add slash attachment example
  discord/enums.py
  examples/app_commands/slash_attachment.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Revert "add slash attachment example"
  discord/enums.py
  examples/app_commands/slash_attachment.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

add slash attachment example
  discord/enums.py
  examples/app_commands/slash_attachment.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

update `Item` references in modal.py to `InputText` to avoid confusion as only `InputText` components are supported in modals right now
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

fix: walk_commands()
  discord/cog.py
  discord/commands/core.py
  discord/ext/commands/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

use built-in group.walk_commands()
  discord/cog.py
  discord/ext/commands/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum, @BobDotCom, @CodeWithSwastik

feat: add DISCOVERABLE_DISABLED to guild features list
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

feat: add discovery http methods
  discord/http.py
Owners: @Lulalaby, @Middledot

fix: correct wording
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

resolve imports
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

feat: create discovery-related objects
  discord/discovery.py
  discord/types/discovery.py
Owners: @BobDotCom, @CodeWithSwastik

Update help.py
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

resolve imports
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Add `type` property to `InputText`
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

move example to slash_options.py
  discord/commands/context.py
  examples/app_commands/slash_attachment.py
  examples/app_commands/slash_options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

fix accidental commit
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

remove interactionsBot example
  examples/interactionsBot/bot.py
  examples/interactionsBot/cog_group/__init__.py
  examples/interactionsBot/cogs/basicSlash_cog.py
  examples/interactionsBot/cogs/button_cog.py
  examples/interactionsBot/cogs/dropdown_cog.py
  examples/interactionsBot/cogs/slashGroup_cog.py
  examples/interactionsBot/cogs/slashOption_cog.py
Owners: @BobDotCom, @CodeWithSwastik

Update audio_recording.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Update audio_recording.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Raise fatal errors on permissions failure
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

change inadvertent testing import to prodlike one
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Add an assignment statement to setter
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik
