Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update discord/commands/options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Apply suggestions from code review
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

try fix
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add minmax length (#1463)
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix NoneType object error
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

Added discord voice activites (Discord together)
  discord/vcactivities.py
Owners: @BobDotCom, @CodeWithSwastik

Add a native timeout for modal.py (#1434)
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Add missing documentation and parameters
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update min/max types for better type checking
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Document undocumented event.
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Create InputType type
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert commit added by mistake
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add missing annotations import
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Document undocumented event (#1472)
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add new example command-error
  examples/command_error.py
Owners: @BobDotCom, @CodeWithSwastik

Remove ThreadOption from InputType
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix all type issues in options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Bumb to v2.0.0
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Update version info
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Bump to v2.0.0 (#1475)
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Add missing import
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Document input type
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update overwrites description
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Add Optional typehint
  discord/http.py
Owners: @Lulalaby, @Middledot

Fix indents, slicing, callable brackets
  discord/ext/commands/core.py
  discord/ext/commands/flags.py
  discord/ext/commands/view.py
  discord/oggparse.py
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Bump next version (2.1.0b1)
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Bump 2.0.0 Changelog.
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Bump 2.0.0 Changelog.
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Delete application_commands.rst
  docs/application_commands.rst
Owners: @RPSMain, @Lulalaby

feat: add additional operations to `Permissions`
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: update magic methods to use operators rather than reified method calls where possible
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
