Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Minor change
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Remove duplicate function member
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Make warning work
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Set option.input_type when OptionType is passed
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Adjust guild's channel attributes to work with NoneType positions
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Adjust guild's channel attributes to work with NoneType positions
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Adjust channel attributes to work with NoneType positions
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Attempt to fix full diff bug
  docs/api.rst
  setup.py
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

Readd accidentally removed setup.py file
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Update version_info
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Sort event headers, implement @plun1331's feedback
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Tiny improvement relating to an example for slash commands
  examples/app_commands/slash_basic.py
Owners: @BobDotCom, @CodeWithSwastik

Allow different option name in option decorator
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Tiny improvement relating to an example for slash commands
  examples/app_commands/slash_basic.py
Owners: @BobDotCom, @CodeWithSwastik

Set option default to None when Optional is used
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

feat(bot.py): fix type issues
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

chore: remove old TODO comment
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

fix: bridge groups
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

feat: add BridgeSlashGroup
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Apply suggestions from code review
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Apply code review feedback
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update docs/api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Implement app_commands_badge in flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Implement app_commands_badge in flags.py (#1535)
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Fetch_application
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

RPC endpoint
  discord/http.py
Owners: @Lulalaby, @Middledot

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
