Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

spelling error
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Use double quotes
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

[ext.pages] Fix for "Unknown Message" errors when using ephemeral paginators (#1224)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix command type issue
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add delete_existing kwarg
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

adds option to use the navigation button interaction response path to edit the message (used by default), otherwise fall back to message attr edit path
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

improved per-page custom views (i.e. make them actually work)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix custom views when defined at paginator level
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add behavior of per-page custom views to paginator-level custom view docstring
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix option parsing
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove deprecated mention syntax
  discord/member.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix check
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

fix: redundant code
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix a couple errors
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix group localizations
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

add `Page.callback()` method and supporting `Paginator.page_action()` method.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Change badge color styling
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Updates
  discord/commands/options.py
  discord/enums.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot

Fully deprecate/remove store channels (#1215)
  discord/channel.py
  discord/enums.py
  discord/ext/commands/converter.py
  discord/guild.py
  discord/interactions.py
  discord/types/channel.py
  docs/api.rst
  docs/ext/commands/api.rst
  docs/ext/commands/commands.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum, @nerdguyahmad, @plun1331, @RPSMain

Remove unnecessary f-strings
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Change the way page_count is counted
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix documentation
  discord/ext/bridge/bot.py
  discord/ext/bridge/core.py
  docs/ext/bridge/index.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Fix option parsing (#1229)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add notification to stage instance creation (#1211)
  discord/channel.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Text in voice
  discord/abc.py
  discord/channel.py
  discord/message.py
  discord/state.py
  discord/threads.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

add support for `trigger_on_display` in `Paginator.update()` method
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add fix for rare use case where a paginator had no pages and showed `page_count` as -1
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add default for optional interaction param
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

wording change to make it clearer which interaction is being used
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Add missing l10n features
  discord/commands/core.py
  discord/http.py
  discord/types/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @BobDotCom, @CodeWithSwastik

fix typo
  discord/types/interactions.py
Owners: @BobDotCom, @CodeWithSwastik
