Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update .github/workflows/pylint.yml
  .github/workflows/pylint.yml
Owners: @BobDotCom, @CodeWithSwastik

chore: implement suggestions
  discord/activity.py
  discord/cog.py
  discord/ext/pages/pagination.py
  discord/guild.py
  discord/mentions.py
  discord/stage_instance.py
  discord/state.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Middledot, @Makiyu, @Dorukyum, @Lulalaby, @nerdguyahmad

chore: missed one
  discord/activity.py
Owners: @BobDotCom, @CodeWithSwastik

fix: missing TextChannel docs
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Changed to simple import
  examples/command_error.py
Owners: @BobDotCom, @CodeWithSwastik

Fix Changelog for 2.0
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Created a Migrate to v2 Guide
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update Changelog
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Added Hyperlinks
  docs/index.rst
  docs/migrating_to_v2.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Fixed typos.
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix reference link
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Fix codeblocks
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix Codeblocks 2
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix codeblock 3
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix codeblocks 4
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update slash_options.py
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

fix: missing ForumChannel docs
  discord/channel.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

fix: failing docs check
  docs/api.rst
Owners: @RPSMain, @Lulalaby

fix: channel data being removed on Option._invoke
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: move operation methods from `Permissions` to `BaseFlags` and update documentation accordingly
  discord/flags.py
  discord/permissions.py
Owners: @Lulalaby, @Dorukyum, @BobDotCom, @CodeWithSwastik

refactor: remove unnecessary newlines in permissions.py
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

docs: remove unused guild features
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

docs: undo a removed guild feature
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

refactor: correct type annotations and documentation formatting
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

refactor: correct documentation formatting for `Permissions`
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update discord/permissions.py
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
