Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/ext/commands/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/commands/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/commands/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Implement app_permissions and fix stuff (#1460)
  discord/commands/context.py
  discord/ext/commands/converter.py
  discord/ext/commands/core.py
  discord/interactions.py
  discord/types/interactions.py
  docs/conf.py
  docs/faq.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik, @plun1331, @RPSMain

Fix issues with converter options
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Use channel classes instead of their names
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Rework extension loading (#1423)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Rework ApplicationContext Documentation (#1452)
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/automod.py
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Add ForumChannel to InteractionChannel
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Split ext/bridge/index
  docs/ext/bridge/api.rst
  docs/ext/bridge/index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

More doc fixes
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  discord/ext/bridge/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Resolve issues with `ext.bridge` docs (#1462)
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
  docs/ext/bridge/index.rst
  docs/index.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Add minmax length options to slash commands
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update thread.members on thread.fetch_members
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Update thread.members on thread.fetch_members
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Fix option channel types not being detected
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Example of using semi-implemented private emojis.
  examples/create_private_emoji.py
Owners: @BobDotCom, @CodeWithSwastik

possible fix
  examples/create_private_emoji.py
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update examples/create_private_emoji.py
  examples/create_private_emoji.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/create_private_emoji.py
  examples/create_private_emoji.py
Owners: @BobDotCom, @CodeWithSwastik

Example of using semi-implemented private emojis. (#1465)
  examples/create_private_emoji.py
Owners: @BobDotCom, @CodeWithSwastik

Update the pull request template (#1456)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

feat(client)!:backwards compatibility with event deco
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

POSSIBLE fix to an issue with enum.
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Add a py 3.10 overload to command decorator
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Add Checks to minmax functions
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Find the chosen enum value using the raw value
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Implement Automod Features (#1316)
  discord/automod.py
  discord/enums.py
  discord/flags.py
  discord/guild.py
  discord/http.py
  discord/raw_models.py
  discord/state.py
  discord/types/audit_log.py
  discord/types/automod.py
  discord/types/embed.py
  discord/types/guild.py
  discord/types/message.py
  discord/types/raw_models.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum, @nerdguyahmad, @RPSMain

Apply suggestions from code review
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
