Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

add initial support for goto_select
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

critical hotfix to enforce typing for component limits
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Add command_id to AuditLogChanges
  discord/audit_logs.py
Owners: @BobDotCom, @CodeWithSwastik

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update interactions.py
  discord/types/interactions.py
Owners: @BobDotCom, @CodeWithSwastik

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Add auto moderation
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

fix MessageType type
  discord/types/message.py
Owners: @BobDotCom, @CodeWithSwastik

[Perms v2] Additional implementations (#1303)
  discord/audit_logs.py
  discord/bot.py
  discord/enums.py
  discord/http.py
  discord/state.py
  discord/types/interactions.py
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby

Add embed type
  discord/types/embed.py
Owners: @BobDotCom, @CodeWithSwastik

Add AUTO_MODERATION guild feature
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik

Document AUTO_MODERATION feature
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Add is_nsfw to voice channels
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

fix typing
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update criteria comment
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update view.py
  discord/ui/view.py
Owners: @Dorukyum

Update validation regex for command names & options (#1309)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update guild.py fetch_members() type hints
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update view.py (#1319)
  discord/ui/view.py
Owners: @Dorukyum

Update guild.py fetch_members() type hints
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Reduce need for Permissions TypeVar
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Reduce need for Permissions TypeVar
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add is_nsfw to voice channels (#1317)
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Use Optional[X] instead of Union[X, None]
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Rewrite options (#1251)
  discord/commands/core.py
  discord/commands/options.py
  discord/enums.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot

merge permissionsv2 into master branch copy
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

apply code style fixes
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

apply code style fixes
  discord/commands/permissions.py
  discord/enums.py
  discord/http.py
  discord/state.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @BobDotCom, @CodeWithSwastik

Permissions v2 - Redo for merge conflicts (#1328)
  discord/audit_logs.py
  discord/bot.py
  discord/commands/core.py
  discord/commands/permissions.py
  discord/enums.py
  discord/http.py
  discord/state.py
  discord/types/interactions.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @RPSMain

feat: started event changes
  discord/client.py
  discord/enums.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

fix: typo with event_for doc string
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Make description an optional arg in a PageGroup
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

chore: removed event_for in favor for event
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Make description an optional arg in a PageGroup (#1330)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

[ext.pages] add docstring for change to optional description param in PageGroup
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

apply linting / style changes
  discord/channel.py
  discord/ext/bridge/core.py
  discord/interactions.py
  discord/ui/view.py
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_options.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik, @plun1331, @Dorukyum

chore: started to migrate dispatch types
  discord/enums.py
  discord/state.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
