Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Fix: partially initialized module 'discord' has no attribute 'Webhook' [2]
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix: name 'Interaction' is not defined [3]
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update `ApplicationContext.followup` documentation
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

chore: improve `ApplicationContext.respond` doc. (#1450)
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix bridge commands to ignore the ephemeral kwarg
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fix bridge commands to ignore the ephemeral kwarg
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

First docs update
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  docs/ext/bridge/index.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update core.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

[ext.bridge] Reformat
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/view.py
  discord/ui/view.py
Owners: @Dorukyum

Format and implement an enum option
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Apply suggestions from code review
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Improved example docs for audio_recording (#1409)
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

Add message property to views (#1446)
  discord/abc.py
  discord/ui/view.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update docs.yml
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @BobDotCom, @CodeWithSwastik

Update bandit.yml
  .github/workflows/bandit.yml
Owners: @BobDotCom, @CodeWithSwastik

Update python-app.yml
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Update mypy.yml
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

Update codespell.yml
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

Update cog.py
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

enclose in square brackets
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Cleanup `ext.bridge` docs (#1454)
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  docs/ext/bridge/index.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update state.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Implement app_permissions
  discord/commands/context.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

I am dumb
  discord/interactions.py
  discord/types/interactions.py
Owners: @plun1331, @Dorukyum, @BobDotCom, @CodeWithSwastik

meow
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix doc warning
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix slots for converter
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

Fix faq docs link
  docs/faq.rst
Owners: @RPSMain, @Lulalaby

Update conf.py
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Update faq.rst
  docs/faq.rst
Owners: @RPSMain, @Lulalaby

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

try fix of issue
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

better fix
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

eh
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

New `discord.Thread` additions (#1447)
  discord/message.py
  discord/state.py
  discord/threads.py
  discord/types/message.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
