Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Resolve Broken References
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Fix more broken references
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

fixedEvenMoreBrokenReferences
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

fixedALittleMoreBrokenReferences
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Add support for View.message with interactions
  discord/interactions.py
  discord/ui/view.py
Owners: @plun1331, @Dorukyum

Add disable_on_timeout to views.
  discord/ui/view.py
Owners: @Dorukyum

Referenced PRs in change-log
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Format PRs
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Format Changelog again
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Update docs/whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Grammar fix
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Update docs/whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

fix options
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/whats_new.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

fixedJustALittleMoreBrokenReferences
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

fixedMoreGrammar
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

Update docs/migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

fix: channel data being removed on Option._invoke
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update migrating_to_v2.rst
  docs/migrating_to_v2.rst
Owners: @RPSMain, @Lulalaby

refactor: correct documentation formatting in flags.py and permissions.py
  discord/flags.py
  discord/permissions.py
Owners: @Lulalaby, @Dorukyum, @BobDotCom, @CodeWithSwastik

Initial ext.bridge redesign
  discord/bot.py
  discord/commands/core.py
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/interactions.py
  docs/ext/bridge/api.rst
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik, @plun1331, @RPSMain

Doc changes
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Make `map_to` a decorator instead of a parameter
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Implement attachment converters
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Code Cleanup
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Correct is_app for prefix commands
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add additional operations to `BaseFlags` (#1486)
  discord/flags.py
  discord/permissions.py
Owners: @Lulalaby, @Dorukyum, @BobDotCom, @CodeWithSwastik

Update discord/commands/options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "Update discord/commands/options.py"
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update installing.rst
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Add proxy localization attrs & document ...
  discord/ext/bridge/core.py
  docs/ext/bridge/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
