Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Fix error: "Callable[..., Any]" has no attribute "__app_cmd_perms__"
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix error: Incompatible types in assignment (expression has type "BinaryIO", variable has type "BufferedIOBase")
  discord/file.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Cannot assign to a method
  discord/file.py
Owners: @BobDotCom, @CodeWithSwastik

Ignore mypy error: Cannot override instance variable
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix mypy error: Need type annotation for "value_mapping" (hint: "value_mapping: Dict[<type>, <type>] = ...")
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix mypy error: Missing return statement
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Ignore mypy error: Overwriting TypedDict field
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Incompatible types in assignment
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix mypy error: Incompatible types in assignment
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Cannot resolve name "Component" (possible cyclic definition)
  discord/types/components.py
Owners: @BobDotCom, @CodeWithSwastik

Fix redundant random code and error: "object" has no attribute "random"
  discord/colour.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Incompatible default for argument "integral"
  discord/backoff.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Incompatible types in assignment
  discord/backoff.py
Owners: @BobDotCom, @CodeWithSwastik

Readd mypy.ini with strict = True
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy error: Incompatible default for argument "guild_id"
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

ci: add skipping functionality (#835)
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

Apply suggestion from review
  examples/views/button_roles.py
Owners: @BobDotCom, @CodeWithSwastik

Improve examples (#791)
  examples/app_commands/slash_options.py
  examples/custom_context.py
Owners: @BobDotCom, @CodeWithSwastik

Add type hints to permissions.py
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix wrong typing imports
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add typing_extensions to requirements
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Fix error with option default params
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add a requirement to docs workflows
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

Higher python version of docs workflow
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

Docs workflow typo
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

fix: do some typing in commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix mypy error: Missing type parameters for generic type "PathLike"
  discord/file.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy errors in enum.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix mypy errros in enums.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Fix mypy errors in options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix mypy errors in permissions.py
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Fix type hint of types.MappingProxyType
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix to SlashCommandOptionType forward reference
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Update SlashCommandOptionType type hint by introducing __future__.annotations
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Add docs for MessageInteraction class
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add thread attribute to Message class
  discord/message.py
  discord/types/message.py
Owners: @BobDotCom, @CodeWithSwastik

Remove unused import
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Fix reST list in quickstart docs
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

Add missing license to options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix converters using message.mentions
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik
