Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

comment
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Fix command.parent in groups
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix broken cog attribute (#1662)
  discord/cog.py
  discord/commands/core.py
  discord/ext/commands/help.py
Owners: @Middledot, @Makiyu, @Dorukyum, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fixes to SlashCommand.mention using qualified_id (#1672)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update Changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Bump version to 2.2.1
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

further fix for command parents
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Update changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

further fix for command parents (#1673)
  CHANGELOG.md
  discord/cog.py
Owners: @BobDotCom, @CodeWithSwastik, @Middledot, @Makiyu, @Dorukyum

Bump version to 2.2.2
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Remove version variable
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix docs
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Relative import to prevent circular import
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Install package with docs
  .github/workflows/docs.yml
Owners: @BobDotCom, @CodeWithSwastik

Fix circular import
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix regex bug
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

add brief attr for BridgeSlashCommand
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Short commit hash is 4-40 chars
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Run pre-commit
  discord/http.py
  tests/README.md
  tests/__init__.py
  tests/import.py
  tests/middlewareplugin.py
  tests/parsing.py
  tests/tests.py
Owners: @Lulalaby, @Middledot, @BobDotCom, @CodeWithSwastik

fix: README.rst Grammar
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Update README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

removed param filters on BridgeCommandGroup cmd wrapper
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix: README.rst grammar (#1675)
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add brief Attribute to BridgeSlashCommand (#1676)
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Migrate to pytest
  tests/Makefile
  tests/test_main.py
Owners: @BobDotCom, @CodeWithSwastik

Specify proxy.py version
  tests/requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Handle if env var is empty string
  discord/http.py
Owners: @Lulalaby, @Middledot

Update CI
  .github/workflows/python-app.yml
  tests/Makefile
Owners: @BobDotCom, @CodeWithSwastik

Fix syntax
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Add install step
  tests/Makefile
Owners: @BobDotCom, @CodeWithSwastik

get_application_command rework
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Pep 517 (#1668)
  .github/workflows/docs.yml
  .isort.cfg
  .pylintrc
  MANIFEST.in
  discord/__init__.py
  discord/_version.py
  docs/conf.py
  mypy.ini
  pyproject.toml
  pytest.ini
  setup.py
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Change original_message deprecation version
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update documentation and __all__
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Update docs for utils.py
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add versionadded info
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Update utils.py documentation (#1682)
  discord/utils.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @RPSMain

Fix typo
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Minor get_or_fetch docs fix
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
