Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Remove unused imports and variables (#1608)
  discord/bot.py
  discord/commands/context.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/iterators.py
  discord/webhook/sync.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Add 'suppress' to messageable.send() (#1587)
  discord/abc.py
  discord/http.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @Lulalaby

fix: subcommands having MISSING cog attribute
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

The better fix
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

feat(bot.py): fix type issues (#1534)
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

fix(docs): correct AutoMod event arguments
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Remove unused imports and variables (#1608)
  discord/bot.py
  discord/commands/context.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/iterators.py
  discord/webhook/sync.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Bump version to 2.1.2
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Bump version to 2.1.2
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "enclose in square brackets"
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Update discord/ext/commands/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/commands/core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Add v2.0.0 to changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add v2.1.2 to changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Fix TypeError in process_application_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix TypeError in process_application_commands (#1622)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump version to 2.1.3
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix TypeError in process_application_commands (#1622)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump version to 2.1.3
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "enclose in square brackets" (#1620)
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Add v2.1.3 to changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Fix VOICE_SERVER_UPDATE error
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Add Warnings
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Improve Warnings
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Use `utils.deprecated`
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix Errors
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Added: discord.Timestamp and TimestampType
  discord/__init__.py
  discord/enums.py
  discord/timestamp.py
  examples/timestamp.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

fix(ext.bridge): name being passed twice in groups
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

fix(ext.bridge): groups fail
  discord/cog.py
  discord/ext/bridge/core.py
Owners: @Middledot, @Makiyu, @Dorukyum, @BobDotCom, @CodeWithSwastik

fix: optional attr
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update appinfo.py
  discord/appinfo.py
Owners: @BobDotCom, @CodeWithSwastik

fix(ext.bridge): bridge groups failing (#1633)
  discord/cog.py
  discord/ext/bridge/core.py
Owners: @Middledot, @Makiyu, @Dorukyum, @BobDotCom, @CodeWithSwastik

fix(ext.bridge): name being passed twice in groups (#1631)
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix VOICE_SERVER_UPDATE error (#1624)
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Add ForumTag type
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Make emoji_name nullable
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Catch up
  .gitignore
  bot.py
  randomartmatt.txt
Owners: @BobDotCom, @CodeWithSwastik

Revert "fix: outdated use of bridge methods"
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

feat: actual invoke
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  bot.py
Owners: @BobDotCom, @CodeWithSwastik
