Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Major Refactor of Voice Recording
  discord/__init__.py
  discord/errors.py
  discord/opus.py
  discord/sinks/__init__.py
  discord/sinks/core.py
  discord/sinks/errors.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/pcm.py
  discord/sinks/wave.py
  discord/voice_client.py
Owners: @BobDotCom, @CodeWithSwastik

fix: port example changes
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

fix: some things
  .gitignore
  discord/errors.py
  discord/sinks/core.py
  discord/sinks/errors.py
  discord/voice_client.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Bugfix/modify mypy ci (#789)
  .github/workflows/mypy.yml
  discord/commands/core.py
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X

refactor: undo guide
  docs/discord.rst
  docs/guide/ext/commands/checks.md
  docs/guide/ext/commands/cogs.md
  docs/guide/ext/commands/index.md
  docs/guide/ext/pages/index.md
  docs/guide/ext/tasks/index.md
  docs/guide/index.md
  docs/guide/interactions/button_views.md
  docs/guide/interactions/context_menus.md
  docs/guide/interactions/select_views.md
  docs/guide/interactions/slash_commands.md
  docs/guide/misc/webhooks.md
  docs/guide/starting-out/initial-files.md
  docs/images/guide/message_command.png
  docs/images/guide/user_command.png
  docs/index.rst
  docs/installing.rst
  docs/intents.rst
  docs/logging.rst
  examples/app_commands/info.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/cooldown.py
  examples/interactionsBot/bot.py
  examples/interactionsBot/cogs/button_cog.py
  examples/interactionsBot/cogs/dropdown_cog.py
  examples/interactionsBot/cogs/slashOption_cog.py
  examples/interactionsBot/cogs/slash_cog.py
  examples/views/button_roles.py
  examples/views/paginator.py
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

refactor: undo guide
  docs/discord.rst
  docs/guide/ext/commands/checks.md
  docs/guide/ext/commands/cogs.md
  docs/guide/ext/commands/index.md
  docs/guide/ext/pages/index.md
  docs/guide/ext/tasks/index.md
  docs/guide/index.md
  docs/guide/interactions/button_views.md
  docs/guide/interactions/context_menus.md
  docs/guide/interactions/select_views.md
  docs/guide/interactions/slash_commands.md
  docs/guide/misc/webhooks.md
  docs/guide/starting-out/initial-files.md
  docs/images/guide/message_command.png
  docs/images/guide/user_command.png
  docs/index.rst
  docs/installing.rst
  docs/intents.rst
  docs/logging.rst
  examples/app_commands/info.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/cooldown.py
  examples/interactionsBot/bot.py
  examples/interactionsBot/cogs/button_cog.py
  examples/interactionsBot/cogs/dropdown_cog.py
  examples/interactionsBot/cogs/slashOption_cog.py
  examples/interactionsBot/cogs/slash_cog.py
  examples/views/button_roles.py
  examples/views/paginator.py
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

ci: add skipping functionality
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

Rename slash_cog.py to basicSlash_cog.py
  examples/interactionsBot/cogs/basicSlash_cog.py
Owners: @BobDotCom, @CodeWithSwastik

Update README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

fix: some things
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

fix: merge conflicts
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: merge conflicts
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix extensions in discord.Bot
  discord/bot.py
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

feat: add audio function
  discord/sinks/core.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

feat: `get_user_audio`
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

chore: make `user` a snowflake
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix extensions in discord.Bot
  discord/commands/core.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Delete .github directory
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/DEVELOPER_CERTIFICATE_OF_ORIGIN.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/vulnerability_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

Delete examples directory
  examples/app_commands/context_menus.py
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_options.py
  examples/app_commands/slash_perms.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_bot.py
  examples/basic_voice.py
  examples/converters.py
  examples/cooldown.py
  examples/custom_context.py
  examples/deleted.py
  examples/edits.py
  examples/guessing_game.py
  examples/new_member.py
  examples/reaction_roles.py
  examples/reply.py
  examples/secret.py
  examples/timeout.py
  examples/views/button_roles.py
  examples/views/confirm.py
  examples/views/counter.py
  examples/views/dropdown.py
  examples/views/ephemeral.py
  examples/views/link.py
  examples/views/paginator.py
  examples/views/persistent.py
  examples/views/tic_tac_toe.py
Owners: @BobDotCom, @CodeWithSwastik

Delete tests directory
  tests/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Delete .gitignore
  .gitignore
Owners: @BobDotCom, @CodeWithSwastik

Delete .pylintrc
  .pylintrc
Owners: @BobDotCom, @CodeWithSwastik

Delete .readthedocs.yml
  .readthedocs.yml
Owners: @BobDotCom, @CodeWithSwastik

Delete FUNDING.yml
  FUNDING.yml
Owners: @BobDotCom, @CodeWithSwastik

Delete LICENSE
  LICENSE
Owners: @BobDotCom, @CodeWithSwastik

Delete MANIFEST.in
  MANIFEST.in
Owners: @BobDotCom, @CodeWithSwastik

Delete README.ja.rst
  README.ja.rst
Owners: @BobDotCom, @CodeWithSwastik

Delete README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Delete mypy.ini
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Delete requirements.txt
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik

Delete setup.py
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

fix: ipc not working in pyc v2
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Apply suggestions from code review
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add get audio functions (#837)
  discord/sinks/core.py
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Use BytesIO for sink
  discord/sinks/core.py
  discord/sinks/errors.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/pcm.py
  discord/sinks/wave.py
Owners: @BobDotCom, @CodeWithSwastik

Use BytesIO for sink (#842)
  discord/sinks/core.py
  discord/sinks/errors.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/pcm.py
  discord/sinks/wave.py
Owners: @BobDotCom, @CodeWithSwastik

Update voice receive example
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Update voice receive example (#843)
  examples/audio_recording.py
Owners: @BobDotCom, @CodeWithSwastik

Fix error: Dict entry 0 has incompatible type "str": "Union[int, str]"; expected "str": "int"
  discord/commands/permissions.py
  mypy.ini
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
