Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Remove print function
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

[ext.pages] General fixes and enhancements (#1227)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Localization Fixes (#1232)
  discord/commands/core.py
  discord/http.py
  discord/types/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @BobDotCom, @CodeWithSwastik

Add trailing commas
  discord/abc.py
  discord/channel.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Ability to set guild_ids for all commands in a cog (#1202)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Minor typing fixes
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/ext/commands/help.py
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/commands/help.py
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Check if the target is a system or bot message
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Convert author ID to int only once
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update bot.py (#1235)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Check if the target is a system or bot message (#1236)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix logic for `page_count` calculation
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix logic for `page_count` calculation (#1237)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix #1182
  discord/abc.py
  discord/message.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Fix #1182
  discord/abc.py
  discord/message.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Update discord/commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

discord.ext.bridge (#1131)
  discord/bot.py
  discord/cog.py
  discord/enums.py
  discord/ext/bridge/__init__.py
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/utils.py
  docs/conf.py
  docs/ext/bridge/index.rst
  docs/index.rst
  examples/bridge_commands.py
  setup.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @BobDotCom, @CodeWithSwastik, @RPSMain

Bump to beta 6
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix py3.10 UnionType checks
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Bump to beta 7
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

add EmbedField to __all__
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix init loop
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix init loop
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix to_dict for _fields attr
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

remove now-unused _EmbedFieldProxy class
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

add from_dict classmethod to EmbedField for better handling with Embed.from_dict
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

update EmbedField.from_dict to more closely match the behavior of Embed.from_dict
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

add Embed.append_field option to allow directly adding EmbedField objects without breaking Embed.add_field (similar to Select.append_option)
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

add EmbedField to docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

doc fix
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

add docstring for EmbedField.to_dict
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Basically the v2.0.0b1 changelog
  docs/api.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Adding delete_after for paginator.send
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update embeds.py
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik
