Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Format better (again)
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Rename comment
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Rename "colour" to "color" to resemble API
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Note message content requirement in `commands.Bot`
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Note message content requirement in `commands.Bot`
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

apply suggestions from code review to use custom_id.__class__.__name__ instead of type(custom_id).__name__
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

revert API version back to v9 until April to prevent prematurely breaking verified bots that do not have message content intent
  discord/http.py
Owners: @Lulalaby, @Middledot

add discord.http.API_VERSION
  discord/http.py
Owners: @Lulalaby, @Middledot

add discord.http.API_VERSION
  discord/http.py
Owners: @Lulalaby, @Middledot

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fixes missing import removed in #1012, closes #1034
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Replace scheduled event imports with wildcard
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

add missing http import to __init__.py
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix race condition in interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fixed ApplicationContext.respond
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add `Interaction.custom_id` attr
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Merge branch 'Pycord-Development:master' into bug-fixes-two
  discord/commands/core.py
  discord/commands/options.py
  examples/app_commands/slash_options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fixed _parse_options returning None instead of empty list
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove useless import
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

lol
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Add message_content intent.
  examples/basic_bot.py
Owners: @BobDotCom, @CodeWithSwastik

Adds message_content intent to examples.
  examples/basic_voice.py
Owners: @BobDotCom, @CodeWithSwastik

Add intents to commands.Bot options.
  examples/basic_voice.py
Owners: @BobDotCom, @CodeWithSwastik

Add intents to background task example.
  examples/background_task.py
Owners: @BobDotCom, @CodeWithSwastik

Add intents to background task
  examples/background_task_asyncio.py
Owners: @BobDotCom, @CodeWithSwastik

Add intents to converters
  examples/converters.py
Owners: @BobDotCom, @CodeWithSwastik

Change the example of /channel
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Update the comment
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Apply suggestions from code review
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Remove message_content intent from background_task
  examples/background_task.py
Owners: @BobDotCom, @CodeWithSwastik

Remove message_content intent from backgorund_task_asyncio
  examples/background_task_asyncio.py
Owners: @BobDotCom, @CodeWithSwastik

Add note
  examples/basic_voice.py
Owners: @BobDotCom, @CodeWithSwastik

raise TypeError if component custom_id is not str (#1017)
  discord/components.py
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

chore: remove unnecessary call to
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

change custom_id MISSING comparison to `None` for Select class to match other components
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Allow deferring of modal submits
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Allow deferring of modal submits (#1061)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update examples/app_commands/info.py
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/app_commands/info.py
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

add shortcut methods to send modals via ApplicationContext
  discord/commands/context.py
  examples/modal_dialogs.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik
