Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

add goto_select handling add `title` property to `Page`
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Raise `commands.CommandError`s without wrapping
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix(client): doc string
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

apply initial refactorings for test of python 3.9 requirement change
  discord/__main__.py
  discord/abc.py
  discord/activity.py
  discord/asset.py
  discord/audit_logs.py
  discord/bot.py
  discord/channel.py
  discord/client.py
  discord/cog.py
  discord/commands/context.py
  discord/commands/core.py
  discord/components.py
  discord/embeds.py
  discord/emoji.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/converter.py
  discord/ext/commands/cooldowns.py
  discord/ext/commands/core.py
  discord/ext/tasks/__init__.py
  discord/sinks/core.py
  discord/ui/button.py
  discord/webhook/async_.py
Owners: @Middledot, @Grace-codes, @Dorukyum, @BobDotCom, @CodeWithSwastik, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

Update default_permissions docstring
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove unused imports
  discord/bot.py
  discord/channel.py
  discord/commands/core.py
  discord/commands/permissions.py
  discord/ext/commands/bot.py
  discord/ext/commands/help.py
  discord/threads.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @BobDotCom, @CodeWithSwastik, @Lulalaby, @Prince2347X

Ignore `self` if command is inside a class
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Enum options (#1292)
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix(client): event param not being converted to str
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

make `children` parameter a variadic argument
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update slash command permissions example
  examples/app_commands/slash_perms.py
Owners: @BobDotCom, @CodeWithSwastik

Change `Modal.children` to be a property, allow instantiating with list of InputText components (#1311)
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Fixing typo delete_exiting -> delete_existing
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fixing typo delete_exiting -> delete_existing (#1336)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fixes for cancel/disable buttons
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Add optional installation way
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add optional installation way
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Update slash command permissions example
  examples/app_commands/slash_perms.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update core.py (#1339)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed format_dt using wrong format
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed format_dt using wrong format
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

v.1
  README.rst
  docs/index.rst
  docs/installing.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update README.rst
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

v.2
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

v.3
  docs/logging.rst
Owners: @RPSMain, @Lulalaby

v4
  docs/discord.rst
Owners: @RPSMain, @Lulalaby

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

upload
  docs_ru/discord.rst
  docs_ru/index.rst
  docs_ru/installing.rst
  docs_ru/logging.rst
  docs_ru/quickstart.rst
Owners: @BobDotCom, @CodeWithSwastik

temporarily disable codecov workflow until tests are more comprehensive
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Revert "temporarily disable codecov workflow until tests are more comprehensive"
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Update python-app.yml
  .github/workflows/python-app.yml
Owners: @BobDotCom, @CodeWithSwastik

Update delete methods
  discord/commands/context.py
  discord/ext/bridge/context.py
  discord/ext/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Update bot.py
  bot.py
Owners: @BobDotCom, @CodeWithSwastik

Consolidate into ext.bridge.context
  discord/ext/bridge/context.py
  discord/ext/commands/context.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add `file` and `files` parameters to `InteractionResponse.edit_message()` (#1340)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
