Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Fix #982
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert raising RuntimeError
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

chore: deprecate `actx.respond` for `actx.send`
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Modify mypy.ini
  mypy.ini
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy errors
  discord/ext/commands/cooldowns.py
  discord/ext/pages/pagination.py
  discord/state.py
  discord/ui/button.py
Owners: @BobDotCom, @CodeWithSwastik

Remove unused import
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump API to v10
  discord/http.py
Owners: @Lulalaby, @Middledot

Remove active threads (endpoint removed)
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Revert removing active threads
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Bump API to v10 (#1012)
  discord/guild.py
  discord/http.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

add `wait()` and `stop()` methods to `Modal` class
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

clarify docstring
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

properly set Black to use 120 characters for line length
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

raise TypeError if component custom_id is not str
  discord/components.py
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Update flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

refactor: remove comments
  discord/types/discovery.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: implement review suggestion
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

feat: typehint responses
  discord/http.py
  discord/types/discovery.py
Owners: @Lulalaby, @Middledot, @BobDotCom, @CodeWithSwastik

Changed example, fixed problem with no type hints
  discord/commands/core.py
  examples/app_commands/slash_options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Linted code
  docs/conf.py
  docs/extensions/attributetable.py
  docs/extensions/builder.py
  docs/extensions/details.py
  docs/extensions/nitpick_file_ignorer.py
  setup.py
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

better linting
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

remove requirements-dev.txt
  requirements-dev.txt
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

better linting
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

oops
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
