Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update timeout.py
  examples/timeout.py
Owners: @BobDotCom, @CodeWithSwastik

Update timeout.py
  examples/timeout.py
Owners: @BobDotCom, @CodeWithSwastik

Mistake in an example (#1126)
  examples/timeout.py
Owners: @BobDotCom, @CodeWithSwastik

Bump to beta 5
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Fix keyword arguments failing
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix keyword arguments failing (#1127)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove permissions v1 from docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix format issues in documentation
  discord/webhook/async_.py
  docs/api.rst
  docs/ext/commands/commands.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Change register_command to use RuntimeError
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Initial ext.compat commit
  discord/ext/compat/__init__.py
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Remove extra quot. mark
  discord/ext/compat/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Add support for AutoShardedBot
  discord/ext/compat/bot.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Add ext.compat to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Fix imports
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix AutoShardedBot docstring
  discord/ext/compat/bot.py
Owners: @BobDotCom, @CodeWithSwastik

add missing **kwargs param to support non-explicit parameters in `SlashCommandGroup` (fixes issue introduced by #1127)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

add missing **kwargs param to support non-explicit parameters in `SlashCommandGroup` (fixes issue introduced by #1127) (#1132)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "add missing **kwargs param to support non-explicit parameters in `SlashCommandGroup` (fixes issue introduced by #1127) (#1132)"
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix discord.Bot.application_command docstring
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix docstring again
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix format issues in documentation (#1130)
  discord/webhook/async_.py
  docs/api.rst
  docs/ext/commands/commands.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Fix imports
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

hotfix for error: 404 Not Found (error code: 10008): Unknown Message
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Remove outdated README section
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add `Bot.invoke_application_command`
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix `slash_autocomplete` to not error
  examples/app_commands/slash_autocomplete.py
Owners: @BobDotCom, @CodeWithSwastik

Small change to the DropDown example
  examples/views/dropdown.py
Owners: @BobDotCom, @CodeWithSwastik

Add `Bot.invoke_application_command` (#1134)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Documentation
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Remove unused import
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/views/dropdown.py
  examples/views/dropdown.py
Owners: @BobDotCom, @CodeWithSwastik

Update dropdown.py
  examples/views/dropdown.py
Owners: @BobDotCom, @CodeWithSwastik

Small change to the DropDown example (#1135)
  examples/views/dropdown.py
Owners: @BobDotCom, @CodeWithSwastik

rename variable "format"
  discord/asset.py
Owners: @BobDotCom, @CodeWithSwastik

Rename variable "format"
  discord/asset.py
Owners: @BobDotCom, @CodeWithSwastik

Remove redundant else
  discord/asset.py
Owners: @BobDotCom, @CodeWithSwastik

Rename variable
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Change variable name
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Change variable name
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

change variable name
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
