Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

fix role support for mentionable slash command option types
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

add docs for `AutocompleteContext`, `Option`, `OptionChoice`, and `on_application_command*` events.
  discord/commands/context.py
  discord/commands/options.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @RPSMain

revert unnecessary additional typing
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

add versionadded to more docstrings
  discord/commands/options.py
  discord/ui/input_text.py
  discord/ui/modal.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Add docs for `AutocompleteContext`, `Option`, `OptionChoice`, and `on_application_command*` events. (#1103)
  discord/commands/context.py
  discord/commands/options.py
  discord/ui/input_text.py
  discord/ui/modal.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik, @RPSMain

Add shortcut property to send modals via ApplicationContext (#1062)
  discord/commands/context.py
  discord/interactions.py
  examples/modal_dialogs.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331, @BobDotCom, @CodeWithSwastik

Adds message_content intent to examples. (#1053)
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_bot.py
  examples/basic_voice.py
  examples/converters.py
Owners: @BobDotCom, @CodeWithSwastik

Various Paginator fixes for `disable()`, `cancel()`, and `respond` methods. (#1088)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Add scheduled_event to stage_instance
  discord/stage_instance.py
  discord/types/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Fix attribute error
  discord/enums.py
  discord/stage_instance.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Document scheduled_event on StageInstance
  discord/stage_instance.py
Owners: @BobDotCom, @CodeWithSwastik

add `custom_id` attribute to `PaginatorMenu` to fix persistent `PageGroup` bug
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add `custom_id` attribute to `PaginatorMenu` to fix persistent `PageGroup` bug (#1106)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix scheduled_event attribute problems
  discord/stage_instance.py
Owners: @BobDotCom, @CodeWithSwastik

Support discord.Object in event locations
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Follow typing
  discord/stage_instance.py
Owners: @BobDotCom, @CodeWithSwastik

Fix scheduled event payload typings
  discord/types/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Fix attribute error with deprecated stage discovery (#1107)
  discord/enums.py
  discord/stage_instance.py
Owners: @Lulalaby, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Fix scheduled event payload typings (#1108)
  discord/types/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

update `HTTPClient.kick()` to use `reason` kwarg
  discord/http.py
Owners: @Lulalaby, @Middledot

update `HTTPClient.kick()` to use `reason` kwarg (#1112)
  discord/http.py
Owners: @Lulalaby, @Middledot

Update examples/app_commands/slash_options.py
  examples/app_commands/slash_options.py
Owners: @BobDotCom, @CodeWithSwastik

Add slash_error AppExample
  examples/app_commands/slash_error.py
Owners: @BobDotCom, @CodeWithSwastik

Add example slash_error to app_commands
  examples/app_commands/slash_error.py
Owners: @BobDotCom, @CodeWithSwastik

fix for PartialMessageable TypeError in ext.pages
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix for PartialMessageable TypeError in ext.pages (#1116)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Add Interaction.respond
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update slash_error
  examples/app_commands/slash_error.py
Owners: @BobDotCom, @CodeWithSwastik

add `CommandPermission` docs
  docs/api.rst
Owners: @RPSMain, @Lulalaby

initial framework for `Page` class
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

change get_page_content to automatically convert non-`Page` pages to `Page` pages.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

more typing for new `Page` class
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add example for new `Page` class usage
  examples/views/paginator.py
Owners: @BobDotCom, @CodeWithSwastik

remove unused import
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

update docstrings for `Page`
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add check for content and embeds both being `None`
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add doc tables for `Page`
  docs/ext/pages/index.rst
Owners: @RPSMain, @Lulalaby

Merge pull request #1123 from krittick/pages-update-2
  discord/ext/pages/pagination.py
  docs/ext/pages/index.rst
  examples/views/paginator.py
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

ext.pages docstring fix
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
