Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Update automod typing
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add news attribute to TextChannel (#1370)
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update audit_log.py
  discord/types/audit_log.py
Owners: @BobDotCom, @CodeWithSwastik

Update enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update flags.py
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update state.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update automod.py
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Create automod.py
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Update automod.py
  discord/automod.py
Owners: @BobDotCom, @CodeWithSwastik

Fix incorrectly setting option as required
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Actions and some renaming
  discord/automod.py
  discord/enums.py
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

more things
  discord/automod.py
  discord/guild.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot

Update interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix application command validation (#1372)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Remove whitespaces
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix deferring (#1379)
  discord/interactions.py
Owners: @plun1331, @Dorukyum

add gateway events
  discord/automod.py
  discord/raw_models.py
  discord/state.py
  discord/types/raw_models.py
Owners: @BobDotCom, @CodeWithSwastik, @nerdguyahmad

update docs
  discord/flags.py
  discord/state.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @BobDotCom, @CodeWithSwastik, @RPSMain

Update scheduled_events.py
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Update scheduled_events.py
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Removed pylint
  .github/workflows/pylint.yml
Owners: @BobDotCom, @CodeWithSwastik

Fix #1385
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update raw_models.py
  discord/types/raw_models.py
Owners: @BobDotCom, @CodeWithSwastik

Update enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Update automod.py
  discord/types/automod.py
Owners: @BobDotCom, @CodeWithSwastik

more stuff
  discord/automod.py
  discord/enums.py
  discord/guild.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum, @nerdguyahmad

Fix #1385
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add missing import
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

update docs
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Document permission requirements
  discord/automod.py
  discord/guild.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad, @Dorukyum

Initial example updates
  examples/app_commands/context_menus.py
  examples/app_commands/info.py
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_options.py
  examples/audio_recording.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_bot.py
  examples/basic_voice.py
  examples/bridge_commands.py
  examples/converters.py
  examples/cooldown.py
  examples/custom_context.py
  examples/deleted.py
  examples/edits.py
  examples/modal_dialogs.py
  examples/new_member.py
  examples/reaction_roles.py
  examples/reply.py
  examples/secret.py
  examples/timeout.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

More typehinting + comment changes
  examples/app_commands/slash_basic.py
  examples/converters.py
Owners: @BobDotCom, @CodeWithSwastik

Cleanup view examples + touchup previous examples
  examples/app_commands/context_menus.py
  examples/app_commands/info.py
  examples/app_commands/slash_autocomplete.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_cog_groups.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_options.py
  examples/app_commands/slash_perms.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_bot.py
  examples/basic_voice.py
  examples/cooldown.py
  examples/custom_context.py
  examples/deleted.py
  examples/reaction_roles.py
  examples/reply.py
  examples/secret.py
  examples/timeout.py
  examples/views/button_roles.py
  examples/views/confirm.py
  examples/views/counter.py
  examples/views/dropdown.py
  examples/views/ephemeral.py
  examples/views/link.py
  examples/views/persistent.py
  examples/wait_for_event.py
Owners: @BobDotCom, @CodeWithSwastik

key type fix (int => str)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

remove space
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20
