Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

cached_property as NewType of property.
  discord/commands/context.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Better match to project style.
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

rename ext-compat to ext-bridge (and related objects)
  discord/commands/core.py
  discord/ext/bridge/__init__.py
  discord/ext/bridge/bot.py
  discord/ext/bridge/context.py
  discord/ext/bridge/core.py
  setup.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

localization
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

localization (#1185)
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update utils.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Update member.py
  discord/member.py
Owners: @BobDotCom, @CodeWithSwastik

Update modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update m4a.py
  discord/sinks/m4a.py
Owners: @BobDotCom, @CodeWithSwastik

Update m4a.py
  discord/sinks/m4a.py
Owners: @BobDotCom, @CodeWithSwastik

Update mka.py
  discord/sinks/mka.py
Owners: @BobDotCom, @CodeWithSwastik

Update m4a.py
  discord/sinks/m4a.py
Owners: @BobDotCom, @CodeWithSwastik

Update mkv.py
  discord/sinks/mkv.py
Owners: @BobDotCom, @CodeWithSwastik

Update mp3.py
  discord/sinks/mp3.py
Owners: @BobDotCom, @CodeWithSwastik

Update mp4.py
  discord/sinks/mp4.py
Owners: @BobDotCom, @CodeWithSwastik

Update ogg.py
  discord/sinks/ogg.py
Owners: @BobDotCom, @CodeWithSwastik

Update pcm.py
  discord/sinks/pcm.py
Owners: @BobDotCom, @CodeWithSwastik

Update wave.py
  discord/sinks/wave.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/sinks/core.py
Owners: @BobDotCom, @CodeWithSwastik

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update errors.py
  discord/errors.py
Owners: @BobDotCom, @CodeWithSwastik

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update utils.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Fix inheritance errors
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix inheritance errors
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update async_.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Update scheduled_events.py
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Update async_.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Update async_.py
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Update cogs.rst
  docs/cogs.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update api.rst
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Update __init__.py
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
