Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Update info.py
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

oops
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

linting linter linted
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

linting linter linted
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

linting linter linted
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

linting linter linted
  discord/ui/item.py
Owners: @BobDotCom, @CodeWithSwastik

linting linter linted
  discord/ui/item.py
Owners: @BobDotCom, @CodeWithSwastik

Merge pull request #1019 from krittick/better-linting
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  docs/conf.py
  docs/extensions/attributetable.py
  docs/extensions/builder.py
  docs/extensions/details.py
  docs/extensions/nitpick_file_ignorer.py
  requirements-dev.txt
  setup.py
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Merge branch 'Pycord-Development:master' into ipc
  discord/client.py
  discord/ext/ipc/server.py
  discord/ext/ipc/session.py
  docs/conf.py
  examples/ipc/server.py
  examples/ipc/session.py
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Merge branch 'master' into deprecated/get_event_loop
  examples/basic_voice.py
Owners: @BobDotCom, @CodeWithSwastik

fix dependency line
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Change __title__ to pycord
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Merge pull request #1014 from plun1331/patch-14
  discord/flags.py
Owners: @Lulalaby, @Dorukyum

Update discord/ui/button.py
  discord/ui/button.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/select.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Change __title__ to pycord (#1021)
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Update installing.rst
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Add `wait()` method to `Modal` class (#1013)
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Use note instead of normal text
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Missing comma
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

Update message content intent info
  docs/intents.rst
Owners: @RPSMain, @Lulalaby

Remove outdated release date
  docs/installing.rst
Owners: @RPSMain, @Lulalaby

Minor Documentation Changes (#1023)
  docs/installing.rst
  docs/intents.rst
  docs/quickstart.rst
Owners: @RPSMain, @Lulalaby

Set force to default true (registration rewrite 2)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/ui/input_text.py
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ui/modal.py
  discord/ui/modal.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

allow empty commits to bypass "error" when branches match
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Revert "allow empty commits to bypass "error" when branches match"
  .github/workflows/lint.yaml
Owners: @BobDotCom, @CodeWithSwastik

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Set force to default true (registration rewrite 2) (#1024)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Format better
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Better commenting
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik

Rename "member" to "user" in footer text
  examples/app_commands/info.py
Owners: @BobDotCom, @CodeWithSwastik
