Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Add missing license to options.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix converters using message.mentions
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

added `disable_all_items` function in `discord.ui.View` and `include_bots` parameter in `get_all_members`
  discord/client.py
  discord/ui/view.py
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum

allow setting initial page before sending
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Revert "allow setting initial page before sending"
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

allow setting initial page before sending
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Use `is` when checking against an object's identity
  discord/ext/commands/converter.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/views/button_roles.py
  examples/views/button_roles.py
Owners: @BobDotCom, @CodeWithSwastik

Add docs for MessageInteraction class
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix mypy erros in enums.py
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix mypy errors
  discord/context_managers.py
  discord/errors.py
  discord/mentions.py
  discord/types/interactions.py
  discord/types/message.py
  discord/types/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy erros in opus.py
  discord/opus.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/message.py
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy errors in utils.py
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Fix enum.py - can't start with underscore error
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Fix mypy errors in stage_instance.py
  discord/stage_instance.py
Owners: @BobDotCom, @CodeWithSwastik

Temporarily fix mypy errors in raw_models.py
  discord/raw_models.py
Owners: @nerdguyahmad

Fix mypy errors in player.py
  discord/player.py
Owners: @BobDotCom, @CodeWithSwastik

Fix mypy errers in embeds.py
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Ignore array.array's generics
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Fix mypy CI - apply only discord directory
  .github/workflows/mypy.yml
Owners: @BobDotCom, @CodeWithSwastik

[ext-pages] Fix for specifying an initial page before sending the paginator (#859)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Convert stringed type hints back to their class form
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed annotation parsing error
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed problems with me not understanding stringzed annotations
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Debugging stuff
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Removed debugging stuff
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Commit to re-run jobs
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Possible fix for docs typehint execution
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Merge core/typing (#432)
  .github/workflows/docs.yml
  discord/asset.py
  discord/bot.py
  discord/commands/_types.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/errors.py
  discord/commands/permissions.py
  discord/ext/commands/bot.py
  discord/ext/commands/converter.py
  discord/ext/commands/help.py
  discord/ext/commands/view.py
  discord/flags.py
  discord/http.py
  discord/integrations.py
  discord/mentions.py
  discord/partial_emoji.py
  discord/types/interactions.py
  discord/ui/button.py
  discord/ui/item.py
  discord/ui/select.py
  discord/ui/view.py
  discord/utils.py
  discord/webhook/async_.py
  discord/webhook/sync.py
  discord/welcome_screen.py
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @nerdguyahmed

Fixed gettype to work with module types
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add module attr to ApplicationCommand
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Revert "Merge core/typing (#432)"
  .github/workflows/docs.yml
  discord/asset.py
  discord/bot.py
  discord/commands/_types.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/errors.py
  discord/commands/permissions.py
  discord/ext/commands/bot.py
  discord/ext/commands/converter.py
  discord/ext/commands/help.py
  discord/ext/commands/view.py
  discord/flags.py
  discord/http.py
  discord/integrations.py
  discord/mentions.py
  discord/partial_emoji.py
  discord/types/interactions.py
  discord/ui/button.py
  discord/ui/item.py
  discord/ui/select.py
  discord/ui/view.py
  discord/utils.py
  discord/webhook/async_.py
  discord/webhook/sync.py
  discord/welcome_screen.py
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @nerdguyahmed

Revert "Merge core/typing (#432)"
  .github/workflows/docs.yml
  discord/asset.py
  discord/bot.py
  discord/commands/_types.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/errors.py
  discord/commands/permissions.py
  discord/ext/commands/bot.py
  discord/ext/commands/converter.py
  discord/ext/commands/help.py
  discord/ext/commands/view.py
  discord/flags.py
  discord/http.py
  discord/integrations.py
  discord/mentions.py
  discord/partial_emoji.py
  discord/types/interactions.py
  discord/ui/button.py
  discord/ui/item.py
  discord/ui/select.py
  discord/ui/view.py
  discord/utils.py
  discord/webhook/async_.py
  discord/webhook/sync.py
  discord/welcome_screen.py
  requirements.txt
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @nerdguyahmed

Document get_desynced_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix logic in registration and update docstring
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Bump version to 2.0.0 beta
  discord/__init__.py
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

add `include_bots` parameter in `get_all_members`
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

Update client.py
  discord/client.py
Owners: @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
