Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/ext/pages/pagination.py
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

apply suggestions from code review
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix spelling errors, update values to double quoted strings
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

fix spelling errors, update values to double quoted strings (#1261)
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/pages/pagination.py
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

[ext.pages] Add `Paginator.edit()` method (#1258)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Convert interaction.data["guild_id"] to int
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fixed example not displaying at `Using Cogs`.
  docs/cogs.rst
  docs/ext/commands/cogs.rst
Owners: @RPSMain, @Lulalaby

run linting
  discord/abc.py
  discord/backoff.py
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
  discord/commands/options.py
  discord/enums.py
  discord/ext/bridge/__init__.py
  discord/ext/bridge/core.py
  discord/flags.py
  discord/guild.py
  discord/http.py
  discord/iterators.py
  discord/message.py
  discord/sinks/core.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/wave.py
  discord/state.py
  discord/threads.py
  discord/ui/modal.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook/async_.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_voice.py
  examples/bridge_commands.py
  examples/views/dropdown.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

run linting again
  discord/backoff.py
  discord/flags.py
  discord/utils.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum

chore: run linting operations (#1264)
  discord/abc.py
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
  discord/commands/options.py
  discord/enums.py
  discord/ext/bridge/__init__.py
  discord/ext/bridge/core.py
  discord/guild.py
  discord/http.py
  discord/iterators.py
  discord/message.py
  discord/sinks/core.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/wave.py
  discord/state.py
  discord/threads.py
  discord/ui/modal.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook/async_.py
  examples/background_task.py
  examples/background_task_asyncio.py
  examples/basic_voice.py
  examples/bridge_commands.py
  examples/views/dropdown.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

make PaginatorMenu and Paginator.update use interaction routes for updating messages, matching the recent changes made by #1227
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

make PaginatorMenu and Paginator.update use interaction routes for updating messages, matching the recent changes made by #1227 (#1267)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix PartialMessage.edit
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/bot.py
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/commands/context.py
  discord/commands/context.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

remove custom_id parameter from default PaginatorMenu fixes #1269
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

remove custom_id parameter from default PaginatorMenu (#1270)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

More l10 fixes
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

missing quotes
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

full fix #1269
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

full fix #1269 (#1272)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Convert interaction.data["guild_id"] to int in the KeyError fallback within process_application_commands (#1262)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Remove voice client when bot disconnects
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Fix wrong logic caused by moving the code
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Initial implementation for Interaction.to_dict
  discord/interactions.py
Owners: @plun1331, @Dorukyum

update setter logic with real math
  discord/ui/input_text.py
Owners: @BobDotCom, @CodeWithSwastik

Lift feature freeze (#879)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @BobDotCom, @CodeWithSwastik

add versionadded to docstrings
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

Add `EmbedField` object to allow for easier embed class instance creation (#1181)
  discord/embeds.py
  docs/api.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Update discord/interactions.py
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Fix race condition (#1039)
  discord/commands/context.py
  discord/interactions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @plun1331

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
