Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Fix changelog for #1609 (#1663)
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add pre-commit
  .flake8
  .github/workflows/mypy.yml
  .pre-commit-config.yaml
  .prettierrc
  .pylintrc
  mypy.ini
  requirements-dev.txt
Owners: @BobDotCom, @CodeWithSwastik

Fix docstring formatter
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

Fix docstring formatter even more
  .pre-commit-config.yaml
Owners: @BobDotCom, @CodeWithSwastik

Add black configuration
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Adjust defaults for `delete_message_`
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Update Member.ban to support delete_message_seconds
  discord/member.py
Owners: @BobDotCom, @CodeWithSwastik

fix docs for scheduled event's cover
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Migrate isort to pyproject.toml
  .isort.cfg
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Migrate mypy to pyproject.toml
  mypy.ini
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Update guild.py
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

update default
  discord/guild.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum

Fix CI
  discord/member.py
Owners: @BobDotCom, @CodeWithSwastik

update defaults
  discord/member.py
Owners: @BobDotCom, @CodeWithSwastik

Migrate pylint to pyproject.toml
  .pylintrc
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Migrate pytest to pyproject.toml
  pyproject.toml
  pytest.ini
Owners: @BobDotCom, @CodeWithSwastik

Fix member.ban and TypeError in guild.ban (#1666)
  discord/guild.py
  discord/member.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @BobDotCom, @CodeWithSwastik

Remove dapi server from links
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Remove dapi server from links (#1669)
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add removals to MANIFEST
  MANIFEST.in
Owners: @BobDotCom, @CodeWithSwastik

Remove logic from setup.py
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Add project metadata to pyproject.toml
  pyproject.toml
Owners: @BobDotCom, @CodeWithSwastik

Update runtime version discovery
  discord/__init__.py
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Update deprecated info
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Fix docs for scheduled event's cover (#1667)
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typehint
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add future import and license
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Remove debug lines
  discord/_version.py
Owners: @BobDotCom, @CodeWithSwastik

Use star import
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Update gitignore
  .gitignore
Owners: @BobDotCom, @CodeWithSwastik

Add gitattributes
  .gitattributes
Owners: @BobDotCom, @CodeWithSwastik

Fix line endings
  discord/commands/permissions.py
  examples/app_commands/context_menus.py
  examples/app_commands/slash_basic.py
  examples/app_commands/slash_groups.py
  examples/app_commands/slash_options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

fix: for the fix: for the fix
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Implement qualified_id to fix command.mention
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

tag added
  discord/channel.py
  discord/http.py
  discord/tag.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

fixed bugs
  discord/channel.py
  discord/http.py
  discord/tag.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

fix: for the fix: for the fix: for the fix
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

bug fixed
  discord/tag.py
Owners: @BobDotCom, @CodeWithSwastik

refactor: redundant code
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

forum channel update
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik
