Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

add initial support for ext.bridge<->ext.pages compatibility
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

refactos some duplicate code
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

raise TypeError when get_page_content is passed a page that isn't a Page object, a string, an embed, or a list of embeds.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add beginnings of second paginator button row for various wacky fun times
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

more work on action row and docstrings
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add additional logic for optional property setters to avoid TypeErrors
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

add additional logic for optional property setters to avoid TypeErrors (#1289)
  discord/ui/button.py
  discord/ui/input_text.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

more work on second row logic
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

goto button works now
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

goto button works with wait_for now
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix issues with descriptions
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

None check for check_guilds
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

[ext.pages] Compatibility patch for ext.bridge (#1288)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Support discord.Enum
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Change Embed.fields to always return a list (#1287)
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix import for BridgeContext
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix import for BridgeContext (#1295)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update discord/commands/core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

extend on code suggestion
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: `exclusions` param -> optional
  discord/ui/view.py
Owners: @Dorukyum

Add more forum channel/thread features
  discord/abc.py
  discord/channel.py
  discord/flags.py
  discord/http.py
  discord/threads.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Lulalaby

None check for check_guilds
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

add `files` parameter to `Page` object and supporting code in send/edit/respond/goto_page
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

update `Message.edit` overloads and remove resulting redundant overloads
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

move update file logic to helper method in `Page` object, add logic to update files in on_timeout
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add debug warning to catch deprecated perms v1 usage until v2 perms are implemented in #1183
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

add debug warning to catch deprecated perms v1 usage until v2 perms are implemented in #1183 (#1301)
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

merge master into permissions-v2
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

update `Message.edit` overloads and remove resulting redundant overloads (#1299)
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

Add command permission update to audit log enums
  discord/enums.py
Owners: @Lulalaby, @Middledot, @Dorukyum

Add TODO comments
  discord/audit_logs.py
  discord/state.py
Owners: @BobDotCom, @CodeWithSwastik

Remove old permissions v1 code
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Remove _register_permissions param
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

[ext.pages] Add `files` parameter to `Page` object (#1300)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Rename has_permissions to default_permissions
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Document command permissions
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Fix command permissions doc note
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Remove note
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Rename dm_permission to guild_only for parity
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X
