Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

fix imports
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Remove outdated note
  docs/faq.rst
Owners: @RPSMain, @Lulalaby

Remove outdated note (#1139)
  docs/faq.rst
Owners: @RPSMain, @Lulalaby

remove dpy paragraph
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add `Client.get_message`
  discord/client.py
  docs/faq.rst
Owners: @BobDotCom, @CodeWithSwastik, @RPSMain, @Lulalaby

Remove outdated README section (#1133)
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Add support for AutoShardedBot
  discord/ext/compat/bot.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Documentation
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix imports
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fix docstring again
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add ext.compat to packages
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Remove unused import
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Remove extra quot. mark
  discord/ext/compat/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Change register_command to use RuntimeError
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

fix imports
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Initial ext.compat commit
  discord/ext/compat/__init__.py
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix AutoShardedBot docstring
  discord/ext/compat/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Fix imports
  discord/ext/compat/bot.py
  discord/ext/compat/context.py
  discord/ext/compat/core.py
Owners: @BobDotCom, @CodeWithSwastik

Fix discord.Bot.application_command docstring
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Remove followup alias
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

change typing to trigger_typing
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

add edit method
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typos
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typo
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Fix typo
  discord/ext/compat/context.py
Owners: @BobDotCom, @CodeWithSwastik

Changed badge styles
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Fixed a bug with the buttons
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Added logos icons for each button
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Changed label colours
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Adjusted the downloads badge colour
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Fixed downloads button
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Put the python versions back
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Adjusted logos
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Added python logo
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Adjusted downloads badge
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Fix `slash_autocomplete` to not error (#1138)
  examples/app_commands/slash_autocomplete.py
Owners: @BobDotCom, @CodeWithSwastik

Run parent checks in `can_run` (#1027)
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Aligned badges to center
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Reverted code, align didn't work
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
