Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Allows passing in thread_id directly to send function for SyncWebhook class
  discord/webhook/sync.py
Owners: @BobDotCom, @CodeWithSwastik

Allows passing in thread_id directly to send function for Webhook (async) class
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Updating documentation for thread_id param for Webhook.send() function
  discord/webhook/async_.py
Owners: @BobDotCom, @CodeWithSwastik

Don't re-fetch for bulk updates
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Command registration rewrite v4
  discord/bot.py
  discord/commands/core.py
  discord/commands/options.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

Add url property to scheduled events (#1203)
  discord/scheduled_events.py
Owners: @BobDotCom, @CodeWithSwastik

add suggested changes
  discord/ui/view.py
Owners: @Dorukyum

remove todo
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Implement logging for command registration
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Add notification to stage instance creation
  discord/channel.py
  discord/http.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Update README code example
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Fully deprecate/remove store channels
  discord/channel.py
  discord/enums.py
  discord/ext/commands/converter.py
  discord/guild.py
  discord/interactions.py
  discord/types/channel.py
  docs/api.rst
  docs/ext/commands/api.rst
  docs/ext/commands/commands.rst
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum, @nerdguyahmad, @plun1331, @RPSMain

Check if the command supports aliases
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Ban pagination
  discord/guild.py
  discord/http.py
  discord/iterators.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot, @BobDotCom, @CodeWithSwastik

Fix #985
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Remove discord.commands.errors
  discord/bot.py
  discord/commands/core.py
  discord/commands/errors.py
  discord/errors.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fix bulk registration logic
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Documentation Updates (#1193)
  discord/__init__.py
  discord/bot.py
  discord/client.py
  discord/cog.py
  discord/commands/core.py
  discord/commands/permissions.py
  discord/errors.py
  discord/member.py
  discord/scheduled_events.py
  discord/sinks/core.py
  discord/sinks/errors.py
  discord/sinks/m4a.py
  discord/sinks/mka.py
  discord/sinks/mkv.py
  discord/sinks/mp3.py
  discord/sinks/mp4.py
  discord/sinks/ogg.py
  discord/sinks/pcm.py
  discord/sinks/wave.py
  discord/ui/input_text.py
  discord/ui/modal.py
  discord/utils.py
  discord/voice_client.py
  discord/webhook/async_.py
  docs/api.rst
  docs/cogs.rst
  docs/conf.py
  docs/ext/commands/api.rst
  docs/ext/commands/commands.rst
  docs/index.rst
  docs/installing.rst
  docs/migrating_to_v1.rst
  docs/quickstart.rst
  docs/whats_new.rst
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @RPSMain

Ban pagination (#1217)
  discord/guild.py
  discord/http.py
  discord/iterators.py
Owners: @Lulalaby, @nerdguyahmad, @Dorukyum, @Middledot, @BobDotCom, @CodeWithSwastik

Fix bulk registration logic again
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

fix loop logic in get_desynced_commands
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Fix race condition in autocomplete
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Update discord/channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Rename BridgeOption
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Add example
  examples/bridge_commands.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add ext.bridge docs
  docs/conf.py
  docs/ext/bridge/index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

chore: requested changes
  docs/ext/bridge/index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Remove import
  discord/commands/__init__.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update docs/ext/bridge/index.rst
  docs/ext/bridge/index.rst
Owners: @RPSMain, @Lulalaby

feat: add ext.bridge docs (#1222)
  docs/conf.py
  docs/ext/bridge/index.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Update gateway.py
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

Update gateway.py
  discord/gateway.py
Owners: @BobDotCom, @CodeWithSwastik

[WIP] Add `reason` kwarg for message deletion (for audit log support) (#1067)
  discord/channel.py
  discord/http.py
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot

Fix #985
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

Inheritance issues (#1192)
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

Remove discord.commands.errors (#1219)
  discord/bot.py
  discord/commands/__init__.py
  discord/commands/core.py
  discord/commands/errors.py
  discord/errors.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Link to the bridge guide
  docs/ext/bridge/index.rst
Owners: @RPSMain, @Lulalaby

fix for "Unknown Message" errors when using an ephemeral paginator after an ephemeral defer
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik
