Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

fix: add suggested changes
  discord/ui/view.py
Owners: @Dorukyum

Initial forum channel commit
  discord/abc.py
  discord/channel.py
  discord/guild.py
  discord/http.py
  discord/threads.py
  discord/types/channel.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Lulalaby, @nerdguyahmad

Update discord/ext/pages/pagination.py
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/ext/pages/pagination.py
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix typehint on mention_author
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Adding delete_after for paginator.send (#1245)
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fix conversion
  discord/ext/bridge/core.py
Owners: @BobDotCom, @CodeWithSwastik

Initial commit for the rewrite of options
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Add reason to delete_messages, fixes #1252
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Update abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update abc.py
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

fix for embeds with no initial fields
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

revert
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

fix for copying embeds with no fields
  discord/embeds.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add supporr for Item object in `exclusions`
  discord/ui/view.py
Owners: @Dorukyum

fix: typehint
  discord/ui/view.py
Owners: @Dorukyum

fix: parenthesis
  discord/ui/view.py
Owners: @Dorukyum

Add `jump_url` property to channels (#1254)
  discord/abc.py
  discord/channel.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik

Minor code changes
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix None view even if it is not passed in edit()
  discord/message.py
Owners: @BobDotCom, @CodeWithSwastik

feat: add more checks in `View.disable_all_items`
  discord/ui/view.py
Owners: @Dorukyum

fix: typehint
  discord/ui/view.py
Owners: @Dorukyum

Add latest release badge
  README.rst
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

Update channel.py
  discord/channel.py
Owners: @BobDotCom, @CodeWithSwastik

initial pass at adding `Paginator.edit()` method
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

update docstrings, add try/except to skip messages that aren't found
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

remove accidental duplicate line
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add except clause when trying to edit a message that doesn't belong to the bot
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

add more validations to button, modal, select move modal title and custom_id attributes to properties
  discord/ui/button.py
  discord/ui/modal.py
  discord/ui/select.py
Owners: @BobDotCom, @CodeWithSwastik

Add `jump_url` Property to Threads
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Remove implicit defer call in view.py
  discord/ui/view.py
Owners: @Dorukyum

Update discord/threads.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Remove implicit defer call in view.py (#1260)
  discord/ui/view.py
Owners: @Dorukyum

Update discord/threads.py
  discord/threads.py
Owners: @BobDotCom, @CodeWithSwastik

Slash Command Channel Parsing Bug Fixes (#1257)
  discord/channel.py
  discord/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X
