Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

Update discord/http.py
  discord/http.py
Owners: @Lulalaby, @Middledot

Break api reference into categories
  docs/api.rst
  docs/api/abcs.rst
  docs/api/application_commands.rst
  docs/api/application_info.rst
  docs/api/async_iter.rst
  docs/api/audit_logs.rst
  docs/api/clients.rst
  docs/api/cogs.rst
  docs/api/data_classes.rst
  docs/api/enums.rst
  docs/api/events.rst
  docs/api/exceptions.rst
  docs/api/index.rst
  docs/api/models.rst
  docs/api/sinks.rst
  docs/api/ui_kit.rst
  docs/api/utils.rst
  docs/api/version_info.rst
  docs/api/voice.rst
  docs/api/webhooks.rst
  docs/index.rst
Owners: @RPSMain, @Lulalaby

Migrate to sphinx v5
  docs/conf.py
  pyproject.toml
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

Shorten toc objects by using short ref
  docs/conf.py
Owners: @RPSMain, @Lulalaby

Add limit argument to basic autocomplete
  discord/utils.py
Owners: @Lulalaby, @Dorukyum

Make per-page categories
  docs/api/abcs.rst
  docs/api/application_commands.rst
  docs/api/application_info.rst
  docs/api/audit_logs.rst
  docs/api/clients.rst
  docs/api/cogs.rst
  docs/api/data_classes.rst
  docs/api/exceptions.rst
  docs/api/models.rst
  docs/api/ui_kit.rst
  docs/api/voice.rst
  docs/api/webhooks.rst
  docs/cogs.rst
Owners: @RPSMain, @Lulalaby

Standardize title underline length
  docs/ext/bridge/api.rst
  docs/ext/commands/api.rst
  docs/ext/commands/cogs.rst
  docs/ext/commands/commands.rst
  docs/ext/commands/extensions.rst
  docs/ext/commands/index.rst
  docs/ext/tasks/index.rst
  docs/faq.rst
  docs/index.rst
  docs/installing.rst
  docs/intents.rst
  docs/whats_new.rst
Owners: @RPSMain, @Lulalaby

Fix audit log overwrite transformer
  discord/audit_logs.py
Owners: @BobDotCom, @CodeWithSwastik

Finish PEP 655
  discord/types/integration.py
  discord/types/interactions.py
  discord/types/message.py
  discord/types/raw_models.py
  discord/types/role.py
  discord/types/sticker.py
  discord/types/threads.py
  discord/types/voice.py
  discord/types/webhook.py
  discord/types/widget.py
Owners: @BobDotCom, @CodeWithSwastik

Run pyupgrade
  discord/types/guild.py
Owners: @BobDotCom, @CodeWithSwastik

Run pyupgrade
  discord/colour.py
  discord/enums.py
Owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Middledot, @Dorukyum

Fix title underline issue
  docs/ext/commands/commands.rst
Owners: @RPSMain, @Lulalaby

Include changelog in docs
  docs/changelog.md
  docs/conf.py
  docs/index.rst
  docs/old_changelog.rst
Owners: @RPSMain, @Lulalaby

Add orphan metadata to old changelog
  docs/old_changelog.rst
Owners: @RPSMain, @Lulalaby

Docs Refactor (#1714)
  docs/api.rst
  docs/api/abcs.rst
  docs/api/application_commands.rst
  docs/api/application_info.rst
  docs/api/async_iter.rst
  docs/api/audit_logs.rst
  docs/api/clients.rst
  docs/api/cogs.rst
  docs/api/data_classes.rst
  docs/api/enums.rst
  docs/api/events.rst
  docs/api/exceptions.rst
  docs/api/index.rst
  docs/api/models.rst
  docs/api/sinks.rst
  docs/api/ui_kit.rst
  docs/api/utils.rst
  docs/api/version_info.rst
  docs/api/voice.rst
  docs/api/webhooks.rst
  docs/changelog.md
  docs/cogs.rst
  docs/conf.py
  docs/ext/bridge/api.rst
  docs/ext/commands/api.rst
  docs/ext/commands/cogs.rst
  docs/ext/commands/commands.rst
  docs/ext/commands/extensions.rst
  docs/ext/commands/index.rst
  docs/ext/tasks/index.rst
  docs/faq.rst
  docs/index.rst
  docs/installing.rst
  docs/intents.rst
  docs/old_changelog.rst
  pyproject.toml
Owners: @RPSMain, @Lulalaby, @BobDotCom, @CodeWithSwastik

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot
