Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

Fix Example Typo/Syntax Error
  discord/commands/permissions.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: required parameters validation
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

fix: other fix for better fix
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

refactor: remove is_in_cog
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

fix: outdated use of bridge methods
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

feat: allow BridgeCommand classes to be invokable
  discord/ext/bridge/context.py
Owners: @BobDotCom, @CodeWithSwastik

feat: globally usable wrap for guild_only
  discord/commands/permissions.py
  discord/ext/bridge/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Fix required parameters validation error (#1589)
  discord/bot.py
  discord/cog.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X

feat(bot.py): finish fixing type issues
  discord/bot.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20

commands.has_permissions() return True in DM channels (fix #1576) (#1577)
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Use updated method to retrieve command variants
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Fix bridge command detection in cogs (#1592)
  discord/cog.py
Owners: @Middledot, @Makiyu, @Dorukyum

Add stable classifier
  setup.py
Owners: @BobDotCom, @CodeWithSwastik

Bump version to 2.1.1
  discord/__init__.py
Owners: @BobDotCom, @CodeWithSwastik

fix: subcommands having MISSING cog attribute
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Initial Implementation of Invokables
  discord/abc.py
Owners: @Grace-codes, @Middledot, @Dorukyum

fix: subcommands having MISSING cog attribute
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Start changelog
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

chore: cleanup docs issues
  discord/abc.py
  discord/automod.py
  discord/channel.py
  discord/commands/options.py
  discord/ext/pages/pagination.py
  discord/guild.py
  discord/interactions.py
  discord/message.py
  discord/shard.py
  discord/utils.py
  discord/welcome_screen.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @BobDotCom, @CodeWithSwastik, @Lulalaby, @Prince2347X, @nerdguyahmad, @plun1331, @nerdguyahmed

Use intuitive descriptions & remove author mentions
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add v2.0.1
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Add links
  CHANGELOG.md
Owners: @BobDotCom, @CodeWithSwastik

Integrate invokables into app commands
  discord/abc.py
  discord/commands/core.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @Lulalaby, @Prince2347X

Merge branch 'master' into invokable
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Make fully working with app commands
  discord/abc.py
  discord/bot.py
  discord/commands/cooldowns.py
  discord/commands/core.py
  discord/commands/invokable.py
  discord/errors.py
  discord/ext/commands/cooldowns.py
  discord/ext/commands/errors.py
Owners: @Grace-codes, @Middledot, @Dorukyum, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Spelling is close enough
  .github/workflows/codespell.yml
Owners: @BobDotCom, @CodeWithSwastik

Integrate ext.commands + typehinting fixes
  discord/commands/__init__.py
  discord/commands/core.py
  discord/commands/invokable.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

New baseline methods
  discord/commands/invokable.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Some cleanup before standard context impl
  discord/bot.py
  discord/commands/invokable.py
  discord/ext/commands/bot.py
  discord/ext/commands/context.py
  discord/ext/commands/core.py
  discord/ext/commands/errors.py
  discord/scheduled_events.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

fix: duplicated ForumChannel tables
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Remove some unused imports and vars
  discord/commands/invokable.py
  discord/ext/commands/converter.py
  discord/webhook/sync.py
  ok.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Implement BaseContext
  discord/commands/__init__.py
  discord/commands/core.py
  discord/commands/mixins.py
  discord/ext/commands/context.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Finish integrating BaseContext
  discord/bot.py
  discord/commands/context.py
  discord/commands/mixins.py
  discord/ext/commands/context.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X, @BobDotCom, @CodeWithSwastik

Remove test file
  ok.py
Owners: @BobDotCom, @CodeWithSwastik

Move parents and root_parent
  discord/commands/mixins.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Implement reinvoke (ctx & cmd) and extra ctx attrs
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/mixins.py
  discord/ext/commands/context.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Some Runtime fixes
  discord/commands/mixins.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

Last minute fixes
  discord/commands/core.py
  discord/commands/mixins.py
  discord/ext/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik

The better fix
  discord/bot.py
  discord/commands/core.py
Owners: @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Lulalaby, @Prince2347X

Make docs great again
  discord/commands/__init__.py
  discord/commands/core.py
  discord/commands/mixins.py
  discord/ext/commands/context.py
  discord/ext/commands/core.py
  docs/api.rst
Owners: @Lulalaby, @Dorukyum, @Prince2347X, @BobDotCom, @CodeWithSwastik, @RPSMain
