Repository Pycord-Development/pycord, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobDotCom, @CodeWithSwastik, @Lulalaby, @Dorukyum, @Prince2347X, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @RPSMain, @Grace-codes, @plun1331, @nerdguyahmed

.github/CODEOWNERS:

# Biggest Contributors To Files/Folders Will be automatically requested review

*       @BobDotCom @CodeWithSwastik

# Commands Module
/discord/commands/ @Lulalaby @Dorukyum @Prince2347X

# discord.Bot
/discord/bot.py @Dorukyum @Middledot @nerdguyahmad @TheGamerX20

# discord.Cog
/discord/cog.py @Middledot @Makiyu @Dorukyum

# Views
/discord/ui/view.py @Dorukyum

# HTTP
/discord/http.py @Lulalaby @Middledot

# Flags
/discord/flags.py @Lulalaby @Dorukyum

# Guild
/discord/guild.py @Lulalaby @nerdguyahmad @Dorukyum

# Documentation
/docs/ @RPSMain @Lulalaby

# Abc
/discord/abc.py @Grace-codes @Middledot @Dorukyum

# __main__ 
/discord/__main__.py @Middledot

# Enums
/discord/enums.py @Lulalaby @Middledot @Dorukyum

# raw_models
/discord/raw_models.py @nerdguyahmad

# Interactions
/discord/interactions.py @plun1331 @Dorukyum

# Utils
/discord/utils.py @Lulalaby @Dorukyum

# Welcome Screens
/discord/welcome_screen.py @nerdguyahmed @Prince2347X @Middledot

added function - `disable_all_items` in `View`
  discord/ui/view.py
Owners: @Dorukyum

added `disable_all_items` in `View`
  discord/ui/view.py
Owners: @Dorukyum

Switch read_messages & view_channel
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update discord/permissions.py
  discord/permissions.py
Owners: @BobDotCom, @CodeWithSwastik

Update core.py
  discord/ext/commands/core.py
Owners: @BobDotCom, @CodeWithSwastik

Create wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Parse received attachment
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

add missing `guild_ids` parameter to `SlashCommandGroup.create_subgroup`
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/views/wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update examples/views/wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

update: fix typo in CONTRIBUTING (line 49)
  .github/CONTRIBUTING.md
Owners: @BobDotCom, @CodeWithSwastik

Apply suggestions from code review
  docs/api.rst
Owners: @RPSMain, @Lulalaby

Add missing docs (#877)
  discord/enums.py
  docs/api.rst
  docs/cogs.rst
Owners: @Lulalaby, @Middledot, @Dorukyum, @RPSMain

Update wait_for_button_press.py
  examples/views/wait_for_button_press.py
Owners: @BobDotCom, @CodeWithSwastik

update: fix typo in CONTRIBUTING (line 49)
  .github/CONTRIBUTING.md
Owners: @BobDotCom, @CodeWithSwastik

Added EmbeddedHelpCommand
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

Remove MISSING check from embed, embeds, view
  discord/interactions.py
Owners: @plun1331, @Dorukyum

Remove MISSING check from embed, embeds, view
  discord/interactions.py
Owners: @plun1331, @Dorukyum

add `stop` method to Paginator
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

rename stop method to disable to avoid subclassing View method
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

fix checking for paginator components
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Add `cancel` method, add `include_custom` and `page` parameters to `disable` and `cancel` methods.
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

attempt to fix cancel method
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Fixed some bugs in EmbeddedHelpCommand
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

fix cancel method and cancel page usage
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

Update bot.py
  discord/ext/commands/bot.py
Owners: @BobDotCom, @CodeWithSwastik

better method for copying children
  discord/ext/pages/pagination.py
  examples/views/paginator.py
Owners: @BobDotCom, @CodeWithSwastik

fix typing
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

run Black
  discord/ext/pages/pagination.py
Owners: @BobDotCom, @CodeWithSwastik

run Black, Flynt, isort again on latest `master`
  discord/__init__.py
  discord/asset.py
  discord/bot.py
  discord/cog.py
  discord/commands/context.py
  discord/commands/core.py
  discord/commands/options.py
  discord/ext/commands/cog.py
  discord/ext/commands/converter.py
  discord/ext/commands/core.py
  discord/flags.py
  discord/http.py
  discord/integrations.py
  discord/interactions.py
  discord/iterators.py
  discord/message.py
  discord/permissions.py
  discord/role.py
  discord/scheduled_events.py
  discord/state.py
  discord/template.py
  discord/types/scheduled_events.py
  discord/utils.py
  discord/webhook/async_.py
  discord/widget.py
  examples/app_commands/slash_cog.py
  examples/app_commands/slash_options.py
  examples/custom_context.py
Owners: @BobDotCom, @CodeWithSwastik, @Dorukyum, @Middledot, @nerdguyahmad, @TheGamerX20, @Makiyu, @Lulalaby, @Prince2347X, @plun1331

Added new styling/syntax for Option
  discord/commands/core.py
  discord/commands/options.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fixed a spelling mistake in EmbeddedHelpCommand
  discord/ext/commands/help.py
Owners: @BobDotCom, @CodeWithSwastik

If type hint is not set, type defaults to str
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X

Fix some bugs
  discord/commands/core.py
Owners: @Lulalaby, @Dorukyum, @Prince2347X
